In [18]:
import pandas as pd
import numpy as np
import os
from functools import reduce
from tabulate import tabulate

In [19]:
total = []
folder = '../Data/Clean'

for dirs in os.listdir(folder):
    if not dirs.endswith(('.txt', 'checkpoints', 'HPS', 'ACS', 'USAFacts', 'graphics', 'ility')):
        #print(dirs)
        for files in os.listdir(os.path.join(folder,dirs)):
            if not files.endswith(('.txt', 'checkpoints', 'STD2019_2020_clean.csv')):
                total.append(pd.read_csv(os.path.join(folder,(os.path.join(dirs,files))), sep = ',', index_col = 0))
                print(os.path.join(folder, os.path.join(dirs, files)))
    
folder2 = '../Data/Intermediate'
for files2 in os.listdir(folder2):
    if not (files2.endswith(('.txt', 'checkpoints', 'hps_processed.csv'))):
            total.append(pd.read_csv(os.path.join(folder2,files2), sep = ',', index_col = 0))
            print(files2)
            print(pd.DataFrame(pd.read_csv(os.path.join(folder2,files2), sep = ',', index_col = 0)).shape)

../Data/Clean/CDC/disagRaceSexHIV2017_2020_clean.csv
../Data/Clean/CDC/CDCSTDagesex20192020_clean.csv
../Data/Clean/CDC/HIVcountyage_clean.csv
../Data/Clean/CDC/HIV_Diagnoses_Prevalence_2008-2021_clean.csv
CDCSTDoverall2000_2020_processed.csv
(67586, 130)
COVIDcounty_cases_processed.csv
(9426, 4)
ACSDP03_merge.csv
(35425, 31)
ACSDP05_merge.csv
(35425, 42)
saipe0010.csv
(32280, 14)

In [20]:
for index, i in enumerate(total):
    if 'year' in i.columns:
        if 'geography' in i.columns:
            i.drop(columns = 'geography', inplace = True)
            print('Done')
        if 'county_name' in i.columns:
            i.drop(columns = 'county_name' , inplace = True)
            print('done')

Done
Done
Done
Done
done

In [21]:
for index, i in enumerate(total):
    print(index)
    i = i[(i['year'] >= 2002) & (i['year'] <= 2020)]
    print(i['year'].unique())
    #for col in i.columns:
        #print(col, ": ", i[col].dtypes)

0
[2017 2018 2019 2020]
1
[2019 2020]
2
[2017 2018 2019 2020]
3
[2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]
4
[2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020]
5
[2020]
6
[2016 2010 2017 2011 2014 2019 2012 2015 2020 2018 2013]
7
[2018 2015 2020 2013 2019 2014 2012 2017 2011 2016 2010]
8
[2002 2003 2004 2005 2006 2007 2008 2009]

In [22]:
lst = ['poverty_rate', 'per_capita_income_2005','per_capita_income_2003','per_capita_income_2004','per_capita_income_2002']
for i in lst:
    total[8][i] = pd.to_numeric(total[8][i], errors = 'coerce')

total[8] = total[8].astype('float64')
total[8][['year','fips']] = total[8][['year','fips']].astype('int64')

total[7] = total[7].astype('float64')
total[7][['year','fips']] = total[7][['year','fips']].astype('int64')

total[6] = total[6].astype('float64')
total[6][['year','fips']] = total[6][['year','fips']].astype('int64')

print(8, ':   ', total[8].dtypes)
print(6, ':   ', total[6].dtypes)
print(7, ':   ', total[7].dtypes)
df1 = pd.merge(total[6], total[8], on = ['year', 'fips', 'unemployment_rate','poverty_rate'], how = 'outer')
print(list(df1.columns))
df2 = pd.merge(total[7], total[8], on = ['year', 'fips', 'total_pop'], how = 'outer')
print(list(df2.columns))
total.append(df1)
total.append(df2)
del(total[6])
del(total[8])
del(total[7])

8 :    fips                        int64
year                        int64
employed_persons          float64
unemployment_rate         float64
total_pop                 float64
poverty_rate              float64
per_capita_income_2007    float64
per_capita_income_2006    float64
per_capita_income_2005    float64
per_capita_income_2008    float64
per_capita_income_2003    float64
per_capita_income_2004    float64
per_capita_income_2009    float64
per_capita_income_2002    float64
dtype: object
6 :    per_capita_income_2016                                                                                   float64
employment_pop_ratio                                                                                     float64
unemployment_rate                                                                                        float64
pct_ind_agriculture_forestry_fishing_and_hunting_and_mining                                              float64
pct_ind_construction                                                                                     float64
pct_ind_manufacturing                                                                                    float64
pct_ind_wholesale_trade                                                                                  float64
pct_ind_retail_trade                                                                                     float64
pct_ind_transportation_and_warehousing_and_utilities                                                     float64
pct_ind_information                                                                                      float64
pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing                                     float64
pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services          float64
pct_ind_educational_services_and_health_care_and_social_assistance                                       float64
pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services                            float64
pct_ind_other_services_except_public_administration                                                      float64
pct_ind_public_administration                                                                            float64
health_insurance_rate                                                                                    float64
poverty_rate                                                                                             float64
year                                                                                                       int64
fips                                                                                                       int64
per_capita_income_2010                                                                                   float64
per_capita_income_2017                                                                                   float64
per_capita_income_2011                                                                                   float64
per_capita_income_2014                                                                                   float64
pct_employment_status!!population_16_years_and_over!!in_labor_force!!civilian_labor_force!!unemployed    float64
per_capita_income_2019                                                                                   float64
per_capita_income_2012                                                                                   float64
per_capita_income_2015                                                                                   float64
per_capita_income_2020                                                                                   float64
per_capita_income_2018                                                                                   float64
per_capita_income_2013                                                                                   float64
dtype: object
7 :    pct_one_or_more_race                                     float64
pct_one_or_more_race_white                               float64
pct_one_or_more_race_black                               float64
pct_one_or_more_race_native_american                     float64
pct_one_or_more_race_asian                               float64
pct_one_or_more_race_native_hawaiian_pacific_islander    float64
pct_one_or_more_race_other_race                          float64
pct_ethnicity_hispanic                                   float64
pct_sex_age_under_5                                      float64
pct_sex_age_5_to_9                                       float64
pct_sex_age_10_to_14                                     float64
pct_sex_age_15_to_19                                     float64
pct_sex_age_20_to_24                                     float64
pct_sex_age_25_to_34                                     float64
pct_sex_age_35_to_44                                     float64
pct_sex_age_45_to_54                                     float64
pct_sex_age_55_to_59                                     float64
pct_sex_age_60_to_64                                     float64
pct_sex_age_65_to_74                                     float64
pct_sex_age_75_to_84                                     float64
pct_sex_age_85+                                          float64
median_age                                               float64
pct_sex_age_16+                                          float64
pct_sex_age_18+                                          float64
pct_sex_age_21+                                          float64
pct_sex_age_62+                                          float64
pct_sex_age_65+                                          float64
pct_sex_age_18+_male                                     float64
pct_sex_age_18+_female                                   float64
pct_sex_age_65+_male                                     float64
pct_sex_age_65+_female                                   float64
year                                                       int64
total_pop                                                float64
fips                                                       int64
pct_sex_age_male                                         float64
pct_sex_age_female                                       float64
pct_white                                                float64
pct_black                                                float64
pct_native_american                                      float64
pct_asian                                                float64
pct_native_hawaiian_pacific_islander                     float64
pct_other_race                                           float64
dtype: object
['per_capita_income_2016', 'employment_pop_ratio', 'unemployment_rate', 'pct_ind_agriculture_forestry_fishing_and_hunting_and_mining', 'pct_ind_construction', 'pct_ind_manufacturing', 'pct_ind_wholesale_trade', 'pct_ind_retail_trade', 'pct_ind_transportation_and_warehousing_and_utilities', 'pct_ind_information', 'pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing', 'pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services', 'pct_ind_educational_services_and_health_care_and_social_assistance', 'pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services', 'pct_ind_other_services_except_public_administration', 'pct_ind_public_administration', 'health_insurance_rate', 'poverty_rate', 'year', 'fips', 'per_capita_income_2010', 'per_capita_income_2017', 'per_capita_income_2011', 'per_capita_income_2014', 'pct_employment_status!!population_16_years_and_over!!in_labor_force!!civilian_labor_force!!unemployed', 'per_capita_income_2019', 'per_capita_income_2012', 'per_capita_income_2015', 'per_capita_income_2020', 'per_capita_income_2018', 'per_capita_income_2013', 'employed_persons', 'total_pop', 'per_capita_income_2007', 'per_capita_income_2006', 'per_capita_income_2005', 'per_capita_income_2008', 'per_capita_income_2003', 'per_capita_income_2004', 'per_capita_income_2009', 'per_capita_income_2002']
['pct_one_or_more_race', 'pct_one_or_more_race_white', 'pct_one_or_more_race_black', 'pct_one_or_more_race_native_american', 'pct_one_or_more_race_asian', 'pct_one_or_more_race_native_hawaiian_pacific_islander', 'pct_one_or_more_race_other_race', 'pct_ethnicity_hispanic', 'pct_sex_age_under_5', 'pct_sex_age_5_to_9', 'pct_sex_age_10_to_14', 'pct_sex_age_15_to_19', 'pct_sex_age_20_to_24', 'pct_sex_age_25_to_34', 'pct_sex_age_35_to_44', 'pct_sex_age_45_to_54', 'pct_sex_age_55_to_59', 'pct_sex_age_60_to_64', 'pct_sex_age_65_to_74', 'pct_sex_age_75_to_84', 'pct_sex_age_85+', 'median_age', 'pct_sex_age_16+', 'pct_sex_age_18+', 'pct_sex_age_21+', 'pct_sex_age_62+', 'pct_sex_age_65+', 'pct_sex_age_18+_male', 'pct_sex_age_18+_female', 'pct_sex_age_65+_male', 'pct_sex_age_65+_female', 'year', 'total_pop', 'fips', 'pct_sex_age_male', 'pct_sex_age_female', 'pct_white', 'pct_black', 'pct_native_american', 'pct_asian', 'pct_native_hawaiian_pacific_islander', 'pct_other_race', 'employed_persons', 'unemployment_rate', 'poverty_rate', 'per_capita_income_2007', 'per_capita_income_2006', 'per_capita_income_2005', 'per_capita_income_2008', 'per_capita_income_2003', 'per_capita_income_2004', 'per_capita_income_2009', 'per_capita_income_2002']

In [23]:
for index, i in enumerate(total):
    for col in i.columns:
        if i[col].dtypes != 'float64':
            print(col, ": ", i[col].dtypes)

year :  int64
fips :  int64
year :  int64
fips :  int64
year :  int64
fips :  int64
year :  int64
fips :  int64
year :  int64
fips :  int64
year :  int64
fips :  int64
year :  int64
fips :  int64
year :  int64
fips :  int64

In [24]:
cov = df1.columns.intersection(df2.columns)
df3 = pd.merge(df1,df2,on = ['year','fips'], how = 'outer')
print(cov)
#for i in cov:
    #print(i,': ', df[i].dtypes, ' & ', df2[i].dtypes, '\n', df1[df1['year'] >=2010].sort_values(by = ['fips','year'])[i].unique(), 
          #'\n', df2[df2['year'] >=2010].sort_values(by = ['fips','year'])[i].unique())
    
    #print(df1[(df1['fips']==45001) & (df1['year']==2002)].loc[:,i],  "\n", df2[(df2['fips']==45001) & (df2['year']==2002)].loc[:,i],
         #'\n')
    #print(df1[-cov].columns, '\n', df2[-cov].columns)
    #print(df3[i].dtypes)
#df3 = df3[df3['year'] <2010]
print(list(df3.columns))
df3[(df3['fips'] == 45001) & (df3['year']>=2010)].loc[:,'year':].sort_values(by = 'year')

Index(['unemployment_rate', 'poverty_rate', 'year', 'fips', 'employed_persons',
       'total_pop', 'per_capita_income_2007', 'per_capita_income_2006',
       'per_capita_income_2005', 'per_capita_income_2008',
       'per_capita_income_2003', 'per_capita_income_2004',
       'per_capita_income_2009', 'per_capita_income_2002'],
      dtype='object')
['per_capita_income_2016', 'employment_pop_ratio', 'unemployment_rate_x', 'pct_ind_agriculture_forestry_fishing_and_hunting_and_mining', 'pct_ind_construction', 'pct_ind_manufacturing', 'pct_ind_wholesale_trade', 'pct_ind_retail_trade', 'pct_ind_transportation_and_warehousing_and_utilities', 'pct_ind_information', 'pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing', 'pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services', 'pct_ind_educational_services_and_health_care_and_social_assistance', 'pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services', 'pct_ind_other_services_except_public_administration', 'pct_ind_public_administration', 'health_insurance_rate', 'poverty_rate_x', 'year', 'fips', 'per_capita_income_2010', 'per_capita_income_2017', 'per_capita_income_2011', 'per_capita_income_2014', 'pct_employment_status!!population_16_years_and_over!!in_labor_force!!civilian_labor_force!!unemployed', 'per_capita_income_2019', 'per_capita_income_2012', 'per_capita_income_2015', 'per_capita_income_2020', 'per_capita_income_2018', 'per_capita_income_2013', 'employed_persons_x', 'total_pop_x', 'per_capita_income_2007_x', 'per_capita_income_2006_x', 'per_capita_income_2005_x', 'per_capita_income_2008_x', 'per_capita_income_2003_x', 'per_capita_income_2004_x', 'per_capita_income_2009_x', 'per_capita_income_2002_x', 'pct_one_or_more_race', 'pct_one_or_more_race_white', 'pct_one_or_more_race_black', 'pct_one_or_more_race_native_american', 'pct_one_or_more_race_asian', 'pct_one_or_more_race_native_hawaiian_pacific_islander', 'pct_one_or_more_race_other_race', 'pct_ethnicity_hispanic', 'pct_sex_age_under_5', 'pct_sex_age_5_to_9', 'pct_sex_age_10_to_14', 'pct_sex_age_15_to_19', 'pct_sex_age_20_to_24', 'pct_sex_age_25_to_34', 'pct_sex_age_35_to_44', 'pct_sex_age_45_to_54', 'pct_sex_age_55_to_59', 'pct_sex_age_60_to_64', 'pct_sex_age_65_to_74', 'pct_sex_age_75_to_84', 'pct_sex_age_85+', 'median_age', 'pct_sex_age_16+', 'pct_sex_age_18+', 'pct_sex_age_21+', 'pct_sex_age_62+', 'pct_sex_age_65+', 'pct_sex_age_18+_male', 'pct_sex_age_18+_female', 'pct_sex_age_65+_male', 'pct_sex_age_65+_female', 'total_pop_y', 'pct_sex_age_male', 'pct_sex_age_female', 'pct_white', 'pct_black', 'pct_native_american', 'pct_asian', 'pct_native_hawaiian_pacific_islander', 'pct_other_race', 'employed_persons_y', 'unemployment_rate_y', 'poverty_rate_y', 'per_capita_income_2007_y', 'per_capita_income_2006_y', 'per_capita_income_2005_y', 'per_capita_income_2008_y', 'per_capita_income_2003_y', 'per_capita_income_2004_y', 'per_capita_income_2009_y', 'per_capita_income_2002_y']

,year,fips,per_capita_income_2010,per_capita_income_2017,per_capita_income_2011,per_capita_income_2014,pct_employment_status!!population_16_years_and_over!!in_labor_force!!civilian_labor_force!!unemployed,per_capita_income_2019,per_capita_income_2012,per_capita_income_2015,...,unemployment_rate_y,poverty_rate_y,per_capita_income_2007_y,per_capita_income_2006_y,per_capita_income_2005_y,per_capita_income_2008_y,per_capita_income_2003_y,per_capita_income_2004_y,per_capita_income_2009_y,per_capita_income_2002_y
5536,2010,45001,16653.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11977,2011,45001,NaN,NaN,17424.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21638,2012,45001,NaN,NaN,NaN,NaN,NaN,NaN,17876.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34520,2013,45001,NaN,NaN,NaN,NaN,7.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15198,2014,45001,NaN,NaN,NaN,18303.0,6.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24859,2015,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2316,2016,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8757,2017,45001,NaN,19234.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31300,2018,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18418,2019,45001,NaN,NaN,NaN,NaN,NaN,22646.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28080,2020,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
cov1 = total[5].columns.intersection(total[4].columns)
df4 = pd.merge(total[5],total[4],on = cov1.to_list(), how = 'outer')
print(cov1)
for i in cov1:
    print(i,': ', total[5][i].dtypes, ' & ', total[4][i].dtypes, '\n', total[5][total[5]['year']>=2010].sort_values(by = ['fips','year'])[i].unique(), 
          '\n', total[4][total[4]['year']>=2010].sort_values(by = ['fips','year'])[i].unique())
    
    #print(df1[(df1['fips']==45001) & (df1['year']==2002)].loc[:,i],  "\n", df2[(df2['fips']==45001) & (df2['year']==2002)].loc[:,i],
         #'\n')
    #print(df1[-cov].columns, '\n', df2[-cov].columns)
    #print(df3[i].dtypes)
#df3 = df3[df3['year'] <2010]
df4[(df4['fips'] == 45001) & (df4['year']>=2010)].loc[:,'year':].sort_values(by = 'year')

Index(['year', 'fips'], dtype='object')
year :  int64  &  int64
 [2020 2021 2022]
 [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]
fips :  int64  &  int64
 [ 1001  1003  1005 ... 56041 56043 56045]
 [ 1001  1003  1005 ... 72149 72151 72153]

,year,fips,covid_cases,cases_chlamydia,cases_early_non-primary_non-secondary_syphilis,cases_gonorrhea,cases_primary_and_secondary_syphilis,rate_per_100000_chlamydia,rate_per_100000_early_non-primary_non-secondary_syphilis,rate_per_100000_gonorrhea,...,rate_per_100000_male_gonorrhea_multiracial,rate_per_100000_male_gonorrhea_native_hawaiian_other_pacific_islander,rate_per_100000_male_gonorrhea_white,rate_per_100000_male_primary_and_secondary_syphilis_american_indian_alaska_native,rate_per_100000_male_primary_and_secondary_syphilis_asian,rate_per_100000_male_primary_and_secondary_syphilis_black_african_american,rate_per_100000_male_primary_and_secondary_syphilis_hispanic_latino,rate_per_100000_male_primary_and_secondary_syphilis_multiracial,rate_per_100000_male_primary_and_secondary_syphilis_native_hawaiian_other_pacific_islander,rate_per_100000_male_primary_and_secondary_syphilis_white
41612,2010,45001,NaN,132.0,0.0,60.0,0.0,521.2,0.0,236.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44830,2011,45001,NaN,174.0,0.0,50.0,0.0,693.8,0.0,199.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48048,2012,45001,NaN,115.0,1.0,26.0,1.0,459.7,4.0,103.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51266,2013,45001,NaN,131.0,1.0,65.0,0.0,526.1,4.0,261.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54484,2014,45001,NaN,117.0,1.0,43.0,0.0,471.9,4.0,173.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57702,2015,45001,NaN,82.0,1.0,36.0,1.0,330.7,4.0,145.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60920,2016,45001,NaN,82.0,0.0,31.0,1.0,332.6,0.0,125.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64138,2017,45001,NaN,160.0,2.0,66.0,1.0,651.3,8.1,268.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67356,2018,45001,NaN,140.0,5.0,55.0,2.0,569.4,20.3,223.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70574,2019,45001,NaN,125.0,1.0,58.0,3.0,509.6,4.1,236.5,...,0.0,0.0,24.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6951,2020,45001,1265.0,99.0,2.0,69.0,4.0,403.6,8.2,281.3,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6952,2021,45001,4234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6953,2022,45001,6655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
test = df3
test[test['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

,year,fips,per_capita_income_2010,per_capita_income_2017,per_capita_income_2011,per_capita_income_2014,pct_employment_status!!population_16_years_and_over!!in_labor_force!!civilian_labor_force!!unemployed,per_capita_income_2019,per_capita_income_2012,per_capita_income_2015,...,unemployment_rate_y,poverty_rate_y,per_capita_income_2007_y,per_capita_income_2006_y,per_capita_income_2005_y,per_capita_income_2008_y,per_capita_income_2003_y,per_capita_income_2004_y,per_capita_income_2009_y,per_capita_income_2002_y
37745,2000,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40969,2001,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44193,2002,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.5,13.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31244.0
47417,2003,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.5,13.6,NaN,NaN,NaN,NaN,30578.0,NaN,NaN,NaN
50641,2004,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.9,15.1,NaN,NaN,NaN,NaN,NaN,31362.0,NaN,NaN
53865,2005,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.4,19.2,NaN,NaN,32486.0,NaN,NaN,NaN,NaN,NaN
57089,2006,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.4,18.1,NaN,34610.0,NaN,NaN,NaN,NaN,NaN,NaN
60313,2007,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.7,17.4,35993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63537,2008,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.6,17.6,NaN,NaN,NaN,36041.0,NaN,NaN,NaN,NaN
66761,2009,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.4,19.7,NaN,NaN,NaN,NaN,NaN,NaN,33995.0,NaN
5536,2010,45001,16653.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11977,2011,45001,NaN,NaN,17424.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21638,2012,45001,NaN,NaN,NaN,NaN,NaN,NaN,17876.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34520,2013,45001,NaN,NaN,NaN,NaN,7.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15198,2014,45001,NaN,NaN,NaN,18303.0,6.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24859,2015,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2316,2016,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8757,2017,45001,NaN,19234.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31300,2018,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18418,2019,45001,NaN,NaN,NaN,NaN,NaN,22646.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28080,2020,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df = pd.merge(total[0], total[1], on = ['year', 'fips'], how = 'outer')
j = 2
df[df['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

,year,fips,cases_female_hiv_diagnoses,cases_female_hiv_prevalence,cases_female_hiv_viral_suppression,cases_female_linkage_to_hiv_care,cases_female_prep_coverage_and_number_of_persons_prescribed,cases_female_receipt_of_hiv_medical_care,cases_male_hiv_diagnoses,cases_male_hiv_prevalence,...,rateper100000_male_primary and secondary syphilis_0_14,rateper100000_male_primary and secondary syphilis_15_19,rateper100000_male_primary and secondary syphilis_20_24,rateper100000_male_primary and secondary syphilis_25_29,rateper100000_male_primary and secondary syphilis_30_34,rateper100000_male_primary and secondary syphilis_35_39,rateper100000_male_primary and secondary syphilis_40_44,rateper100000_male_primary and secondary syphilis_45_54,rateper100000_male_primary and secondary syphilis_55_64,rateper100000_male_primary and secondary syphilis_65+
0,2017,45001,0.0,12.0,NaN,NaN,NaN,NaN,0.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,2018,45001,NaN,11.0,NaN,NaN,NaN,NaN,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4924,2019,45001,0.0,13.0,9.0,0.0,NaN,10.0,0.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7451,2020,45001,NaN,13.0,6.0,NaN,NaN,7.0,NaN,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

cov = [df.columns.to_list()]
for i in total[1:]:
    cov.append(i.columns.to_list())
df_list = [x for xs in cov for x in xs]
print(df_list)
print([c for c in df.columns if c in df_list])
df[[c for c in df.columns if c in df_list]]

In [28]:
while j < len(total)-3:
    cov = df.columns.intersection(total[j].columns)
    df = pd.merge(df, total[j], on = cov.to_list() , how = 'outer')
    #print((df[df['fips'] == 45001].loc[:,'year':].sort_values(by = 'year').head()))
    #print(j , ':    ', list(df.columns))
    j += 1
    print(df[df['fips'] == 45001].loc[:,'year':].sort_values(by = 'year'))

      year   fips  cases_female_hiv_diagnoses  cases_female_hiv_prevalence  \
0     2017  45001                         0.0                         12.0
2462  2018  45001                         NaN                         11.0
4930  2019  45001                         0.0                         13.0
7463  2020  45001                         NaN                         13.0

      cases_female_hiv_viral_suppression  cases_female_linkage_to_hiv_care  \
0                                    NaN                               NaN
2462                                 NaN                               NaN
4930                                 9.0                               0.0
7463                                 6.0                               NaN

      cases_female_prep_coverage_and_number_of_persons_prescribed  \
0                                                   NaN
2462                                                NaN
4930                                                NaN
7463                                                NaN

      cases_female_receipt_of_hiv_medical_care  cases_male_hiv_diagnoses  \
0                                          NaN                       0.0
2462                                       NaN                       NaN
4930                                      10.0                       0.0
7463                                       7.0                       NaN

      cases_male_hiv_prevalence  ...  ratePer100000_13-24_HIV diagnoses  \
0                          36.0  ...                                0.0
2462                       36.0  ...                                NaN
4930                       41.0  ...                                0.0
7463                       43.0  ...                                NaN

      ratePer100000_13-24_HIV prevalence  ratePer100000_25-34_HIV diagnoses  \
0                                    NaN                                0.0
2462                                 NaN                                NaN
4930                               132.8                                0.0
7463                                 NaN                                NaN

      ratePer100000_25-34_HIV prevalence  ratePer100000_35-44_HIV diagnoses  \
0                                  375.9                                0.0
2462                               449.9                                NaN
4930                               374.8                                0.0
7463                               647.1                                NaN

      ratePer100000_35-44_HIV prevalence  ratePer100000_45-54_HIV diagnoses  \
0                                  274.9                                0.0
2462                               235.7                                NaN
4930                               273.0                                0.0
7463                               314.0                                NaN

      ratePer100000_45-54_HIV prevalence  ratePer100000_55+_HIV diagnoses  \
0                                  495.4                              0.0
2462                               406.5                              NaN
4930                               478.5                              0.0
7463                               392.3                              NaN

      ratePer100000_55+_HIV prevalence
0                                  NaN
2462                               NaN
4930                             187.8
7463                               NaN

[4 rows x 254 columns]
       year   fips  cases_female_hiv_diagnoses  cases_female_hiv_prevalence  \
11825  2008  45001                         NaN                          NaN
14917  2009  45001                         NaN                          NaN
18019  2010  45001                         NaN                          NaN
21131  2011  45001                         NaN                          NaN
24270  2012  45001                         NaN                          NaN
27409  2013  45001                         NaN                          NaN
30538  2014  45001                         NaN                          NaN
33673  2015  45001                         NaN                          NaN
36809  2016  45001                         NaN                          NaN
0      2017  45001                         0.0                         12.0
2468   2018  45001                         NaN                         11.0
4942   2019  45001                         0.0                         13.0
7487   2020  45001                         NaN                         13.0

       cases_female_hiv_viral_suppression  cases_female_linkage_to_hiv_care  \
11825                                 NaN                               NaN
14917                                 NaN                               NaN
18019                                 NaN                               NaN
21131                                 NaN                               NaN
24270                                 NaN                               NaN
27409                                 NaN                               NaN
30538                                 NaN                               NaN
33673                                 NaN                               NaN
36809                                 NaN                               NaN
0                                     NaN                               NaN
2468                                  NaN                               NaN
4942                                  9.0                               0.0
7487                                  6.0                               NaN

       cases_female_prep_coverage_and_number_of_persons_prescribed  \
11825                                                NaN
14917                                                NaN
18019                                                NaN
21131                                                NaN
24270                                                NaN
27409                                                NaN
30538                                                NaN
33673                                                NaN
36809                                                NaN
0                                                    NaN
2468                                                 NaN
4942                                                 NaN
7487                                                 NaN

       cases_female_receipt_of_hiv_medical_care  cases_male_hiv_diagnoses  \
11825                                       NaN                       NaN
14917                                       NaN                       NaN
18019                                       NaN                       NaN
21131                                       NaN                       NaN
24270                                       NaN                       NaN
27409                                       NaN                       NaN
30538                                       NaN                       NaN
33673                                       NaN                       NaN
36809                                       NaN                       NaN
0                                           NaN                       0.0
2468                                        NaN                       NaN
4942                                       10.0                       0.0
7487                                        7.0                       NaN

       cases_male_hiv_prevalence  ...  ratePer100000_35-44_HIV diagnoses  \
11825                        NaN  ...                                NaN
14917                        NaN  ...                                NaN
18019                        NaN  ...                                NaN
21131                        NaN  ...                                NaN
24270                        NaN  ...                                NaN
27409                        NaN  ...                                NaN
30538                        NaN  ...                                NaN
33673                        NaN  ...                                NaN
36809                        NaN  ...                                NaN
0                           36.0  ...                                0.0
2468                        36.0  ...                                NaN
4942                        41.0  ...                                0.0
7487                        43.0  ...                                NaN

       ratePer100000_35-44_HIV prevalence  ratePer100000_45-54_HIV diagnoses  \
11825                                 NaN                                NaN
14917                                 NaN                                NaN
18019                                 NaN                                NaN
21131                                 NaN                                NaN
24270                                 NaN                                NaN
27409                                 NaN                                NaN
30538                                 NaN                                NaN
33673                                 NaN                                NaN
36809                                 NaN                                NaN
0                                   274.9                                0.0
2468                                235.7                                NaN
4942                                273.0                                0.0
7487                                314.0                                NaN

       ratePer100000_45-54_HIV prevalence  ratePer100000_55+_HIV diagnoses  \
11825                                 NaN                              NaN
14917                                 NaN                              NaN
18019                                 NaN                              NaN
21131                                 NaN                              NaN
24270                                 NaN                              NaN
27409                                 NaN                              NaN
30538                                 NaN                              NaN
33673                                 NaN                              NaN
36809                                 NaN                              NaN
0                                   495.4                              0.0
2468                                406.5                              NaN
4942                                478.5                              0.0
7487                                392.3                              NaN

       ratePer100000_55+_HIV prevalence  cases_HIV diagnoses  \
11825                               NaN                  NaN
14917                               NaN                  NaN
18019                               NaN                  NaN
21131                               NaN                  NaN
24270                               NaN                  NaN
27409                               NaN                  NaN
30538                               NaN                  5.0
33673                               NaN                  NaN
36809                               NaN                  NaN
0                                   NaN                  0.0
2468                                NaN                  NaN
4942                              187.8                  0.0
7487                                NaN                  NaN

       cases_HIV prevalence  ratePer100000_HIV diagnoses  \
11825                  44.0                          NaN
14917                  45.0                          NaN
18019                  31.0                          NaN
21131                  48.0                          NaN
24270                  18.0                          NaN
27409                  15.0                          NaN
30538                  24.0                         23.7
33673                  53.0                          NaN
36809                  56.0                          NaN
0                      48.0                          0.0
2468                   47.0                          NaN
4942                   54.0                          0.0
7487                   56.0                          NaN

       ratePer100000_HIV prevalence
11825                         207.4
14917                         212.6
18019                         145.7
21131                         227.0
24270                          85.2
27409                          71.1
30538                         113.7
33673                         250.7
36809                         265.7
0                             227.8
2468                          222.0
4942                          254.9
7487                          265.2

[13 rows x 258 columns]
       year   fips  cases_female_hiv_diagnoses  cases_female_hiv_prevalence  \
43148  2000  45001                         NaN                          NaN
46366  2001  45001                         NaN                          NaN
49584  2002  45001                         NaN                          NaN
52802  2003  45001                         NaN                          NaN
56020  2004  45001                         NaN                          NaN
59238  2005  45001                         NaN                          NaN
62456  2006  45001                         NaN                          NaN
65674  2007  45001                         NaN                          NaN
11993  2008  45001                         NaN                          NaN
15089  2009  45001                         NaN                          NaN
18195  2010  45001                         NaN                          NaN
21311  2011  45001                         NaN                          NaN
24454  2012  45001                         NaN                          NaN
27597  2013  45001                         NaN                          NaN
30730  2014  45001                         NaN                          NaN
33869  2015  45001                         NaN                          NaN
37009  2016  45001                         NaN                          NaN
0      2017  45001                         0.0                         12.0
2480   2018  45001                         NaN                         11.0
4966   2019  45001                         0.0                         13.0
7583   2020  45001                         NaN                         13.0

       cases_female_hiv_viral_suppression  cases_female_linkage_to_hiv_care  \
43148                                 NaN                               NaN
46366                                 NaN                               NaN
49584                                 NaN                               NaN
52802                                 NaN                               NaN
56020                                 NaN                               NaN
59238                                 NaN                               NaN
62456                                 NaN                               NaN
65674                                 NaN                               NaN
11993                                 NaN                               NaN
15089                                 NaN                               NaN
18195                                 NaN                               NaN
21311                                 NaN                               NaN
24454                                 NaN                               NaN
27597                                 NaN                               NaN
30730                                 NaN                               NaN
33869                                 NaN                               NaN
37009                                 NaN                               NaN
0                                     NaN                               NaN
2480                                  NaN                               NaN
4966                                  9.0                               0.0
7583                                  6.0                               NaN

       cases_female_prep_coverage_and_number_of_persons_prescribed  \
43148                                                NaN
46366                                                NaN
49584                                                NaN
52802                                                NaN
56020                                                NaN
59238                                                NaN
62456                                                NaN
65674                                                NaN
11993                                                NaN
15089                                                NaN
18195                                                NaN
21311                                                NaN
24454                                                NaN
27597                                                NaN
30730                                                NaN
33869                                                NaN
37009                                                NaN
0                                                    NaN
2480                                                 NaN
4966                                                 NaN
7583                                                 NaN

       cases_female_receipt_of_hiv_medical_care  cases_male_hiv_diagnoses  \
43148                                       NaN                       NaN
46366                                       NaN                       NaN
49584                                       NaN                       NaN
52802                                       NaN                       NaN
56020                                       NaN                       NaN
59238                                       NaN                       NaN
62456                                       NaN                       NaN
65674                                       NaN                       NaN
11993                                       NaN                       NaN
15089                                       NaN                       NaN
18195                                       NaN                       NaN
21311                                       NaN                       NaN
24454                                       NaN                       NaN
27597                                       NaN                       NaN
30730                                       NaN                       NaN
33869                                       NaN                       NaN
37009                                       NaN                       NaN
0                                           NaN                       0.0
2480                                        NaN                       NaN
4966                                       10.0                       0.0
7583                                        7.0                       NaN

       cases_male_hiv_prevalence  ...  \
43148                        NaN  ...
46366                        NaN  ...
49584                        NaN  ...
52802                        NaN  ...
56020                        NaN  ...
59238                        NaN  ...
62456                        NaN  ...
65674                        NaN  ...
11993                        NaN  ...
15089                        NaN  ...
18195                        NaN  ...
21311                        NaN  ...
24454                        NaN  ...
27597                        NaN  ...
30730                        NaN  ...
33869                        NaN  ...
37009                        NaN  ...
0                           36.0  ...
2480                        36.0  ...
4966                        41.0  ...
7583                        43.0  ...


In [29]:
df5 = pd.merge(df, df4, on = ['year','fips'],how = 'outer')
df5[df5['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

,year,fips,cases_female_hiv_diagnoses,cases_female_hiv_prevalence,cases_female_hiv_viral_suppression,cases_female_linkage_to_hiv_care,cases_female_prep_coverage_and_number_of_persons_prescribed,cases_female_receipt_of_hiv_medical_care,cases_male_hiv_diagnoses,cases_male_hiv_prevalence,...,rate_per_100000_male_gonorrhea_multiracial_y,rate_per_100000_male_gonorrhea_native_hawaiian_other_pacific_islander_y,rate_per_100000_male_gonorrhea_white_y,rate_per_100000_male_primary_and_secondary_syphilis_american_indian_alaska_native_y,rate_per_100000_male_primary_and_secondary_syphilis_asian_y,rate_per_100000_male_primary_and_secondary_syphilis_black_african_american_y,rate_per_100000_male_primary_and_secondary_syphilis_hispanic_latino_y,rate_per_100000_male_primary_and_secondary_syphilis_multiracial_y,rate_per_100000_male_primary_and_secondary_syphilis_native_hawaiian_other_pacific_islander_y,rate_per_100000_male_primary_and_secondary_syphilis_white_y
43844,2000,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47066,2001,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50288,2002,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53510,2003,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56732,2004,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59954,2005,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63176,2006,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66398,2007,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12617,2008,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15721,2009,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18835,2010,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21959,2011,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25110,2012,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28261,2013,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31402,2014,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34549,2015,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37697,2016,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2017,45001,0.0,12.0,NaN,NaN,NaN,NaN,0.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2504,2018,45001,NaN,11.0,NaN,NaN,NaN,NaN,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5014,2019,45001,0.0,13.0,9.0,0.0,NaN,10.0,0.0,41.0,...,0.0,0.0,24.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7919,2020,45001,NaN,13.0,6.0,NaN,NaN,7.0,NaN,43.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73767,2021,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73768,2022,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
cov2 = df1.columns.intersection(df5.columns)
df6 = pd.merge(df1,df5,on = cov2.to_list(), how = 'outer')
df6[df6['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

,year,fips,per_capita_income_2010,per_capita_income_2017,per_capita_income_2011,per_capita_income_2014,pct_employment_status!!population_16_years_and_over!!in_labor_force!!civilian_labor_force!!unemployed,per_capita_income_2019,per_capita_income_2012,per_capita_income_2015,...,rate_per_100000_male_gonorrhea_multiracial_y,rate_per_100000_male_gonorrhea_native_hawaiian_other_pacific_islander_y,rate_per_100000_male_gonorrhea_white_y,rate_per_100000_male_primary_and_secondary_syphilis_american_indian_alaska_native_y,rate_per_100000_male_primary_and_secondary_syphilis_asian_y,rate_per_100000_male_primary_and_secondary_syphilis_black_african_american_y,rate_per_100000_male_primary_and_secondary_syphilis_hispanic_latino_y,rate_per_100000_male_primary_and_secondary_syphilis_multiracial_y,rate_per_100000_male_primary_and_secondary_syphilis_native_hawaiian_other_pacific_islander_y,rate_per_100000_male_primary_and_secondary_syphilis_white_y
38702,2000,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41932,2001,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45162,2002,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48392,2003,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51622,2004,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54852,2005,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58082,2006,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61312,2007,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64546,2008,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67784,2009,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5557,2010,45001,16653.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12058,2011,45001,NaN,NaN,17424.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22129,2012,45001,NaN,NaN,NaN,NaN,NaN,NaN,17876.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35467,2013,45001,NaN,NaN,NaN,NaN,7.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15293,2014,45001,NaN,NaN,NaN,18303.0,6.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25364,2015,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2323,2016,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8816,2017,45001,NaN,19234.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32225,2018,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18775,2019,45001,NaN,NaN,NaN,NaN,NaN,22646.0,NaN,NaN,...,0.0,0.0,24.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28847,2020,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73964,2021,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73965,2022,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
cov3 = df2.columns.intersection(df5.columns)
df7 = pd.merge(df2,df6,on = cov3.to_list(), how = 'outer')
df7[df7['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

,year,total_pop_x,fips,pct_sex_age_male,pct_sex_age_female,pct_white,pct_black,pct_native_american,pct_asian,pct_native_hawaiian_pacific_islander,...,rate_per_100000_male_gonorrhea_multiracial_y,rate_per_100000_male_gonorrhea_native_hawaiian_other_pacific_islander_y,rate_per_100000_male_gonorrhea_white_y,rate_per_100000_male_primary_and_secondary_syphilis_american_indian_alaska_native_y,rate_per_100000_male_primary_and_secondary_syphilis_asian_y,rate_per_100000_male_primary_and_secondary_syphilis_black_african_american_y,rate_per_100000_male_primary_and_secondary_syphilis_hispanic_latino_y,rate_per_100000_male_primary_and_secondary_syphilis_multiracial_y,rate_per_100000_male_primary_and_secondary_syphilis_native_hawaiian_other_pacific_islander_y,rate_per_100000_male_primary_and_secondary_syphilis_white_y
38702,2000,26229.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41932,2001,26330.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45162,2002,26311.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48392,2003,26306.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51622,2004,26235.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54852,2005,25995.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58082,2006,25821.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61312,2007,25745.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64546,2008,25699.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67784,2009,25614.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35467,2010,25643.0,45001,48.4,51.6,71.0,28.8,0.6,0.3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28998,2011,25515.0,45001,48.9,51.1,70.4,29.8,0.6,0.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22497,2012,25387.0,45001,48.6,51.4,71.6,29.2,0.5,0.1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12426,2013,25233.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19263,2014,25100.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5589,2015,24997.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32233,2016,24951.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25756,2017,24788.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2347,2018,24657.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15909,2019,24627.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,24.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9072,2020,24582.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73964,2021,NaN,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73965,2022,NaN,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
list(df7.columns)

['pct_one_or_more_race',
 'pct_one_or_more_race_white',
 'pct_one_or_more_race_black',
 'pct_one_or_more_race_native_american',
 'pct_one_or_more_race_asian',
 'pct_one_or_more_race_native_hawaiian_pacific_islander',
 'pct_one_or_more_race_other_race',
 'pct_ethnicity_hispanic',
 'pct_sex_age_under_5',
 'pct_sex_age_5_to_9',
 'pct_sex_age_10_to_14',
 'pct_sex_age_15_to_19',
 'pct_sex_age_20_to_24',
 'pct_sex_age_25_to_34',
 'pct_sex_age_35_to_44',
 'pct_sex_age_45_to_54',
 'pct_sex_age_55_to_59',
 'pct_sex_age_60_to_64',
 'pct_sex_age_65_to_74',
 'pct_sex_age_75_to_84',
 'pct_sex_age_85+',
 'median_age',
 'pct_sex_age_16+',
 'pct_sex_age_18+',
 'pct_sex_age_21+',
 'pct_sex_age_62+',
 'pct_sex_age_65+',
 'pct_sex_age_18+_male',
 'pct_sex_age_18+_female',
 'pct_sex_age_65+_male',
 'pct_sex_age_65+_female',
 'year',
 'total_pop_x',
 'fips',
 'pct_sex_age_male',
 'pct_sex_age_female',
 'pct_white',
 'pct_black',
 'pct_native_american',
 'pct_asian',
 'pct_native_hawaiian_pacific_islander',
 'pct_other_race',
 'employed_persons_x',
 'unemployment_rate_x',
 'poverty_rate_x',
 'per_capita_income_2007_x',
 'per_capita_income_2006_x',
 'per_capita_income_2005_x',
 'per_capita_income_2008_x',
 'per_capita_income_2003_x',
 'per_capita_income_2004_x',
 'per_capita_income_2009_x',
 'per_capita_income_2002_x',
 'per_capita_income_2016',
 'employment_pop_ratio',
 'unemployment_rate_y',
 'pct_ind_agriculture_forestry_fishing_and_hunting_and_mining',
 'pct_ind_construction',
 'pct_ind_manufacturing',
 'pct_ind_wholesale_trade',
 'pct_ind_retail_trade',
 'pct_ind_transportation_and_warehousing_and_utilities',
 'pct_ind_information',
 'pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing',
 'pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services',
 'pct_ind_educational_services_and_health_care_and_social_assistance',
 'pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services',
 'pct_ind_other_services_except_public_administration',
 'pct_ind_public_administration',
 'health_insurance_rate',
 'poverty_rate_y',
 'per_capita_income_2010',
 'per_capita_income_2017',
 'per_capita_income_2011',
 'per_capita_income_2014',
 'pct_employment_status!!population_16_years_and_over!!in_labor_force!!civilian_labor_force!!unemployed',
 'per_capita_income_2019',
 'per_capita_income_2012',
 'per_capita_income_2015',
 'per_capita_income_2020',
 'per_capita_income_2018',
 'per_capita_income_2013',
 'employed_persons_y',
 'total_pop_y',
 'per_capita_income_2007_y',
 'per_capita_income_2006_y',
 'per_capita_income_2005_y',
 'per_capita_income_2008_y',
 'per_capita_income_2003_y',
 'per_capita_income_2004_y',
 'per_capita_income_2009_y',
 'per_capita_income_2002_y',
 'cases_female_hiv_diagnoses',
 'cases_female_hiv_prevalence',
 'cases_female_hiv_viral_suppression',
 'cases_female_linkage_to_hiv_care',
 'cases_female_prep_coverage_and_number_of_persons_prescribed',
 'cases_female_receipt_of_hiv_medical_care',
 'cases_male_hiv_diagnoses',
 'cases_male_hiv_prevalence',
 'cases_male_hiv_viral_suppression',
 'cases_male_linkage_to_hiv_care',
 'cases_male_prep_coverage_and_number_of_persons_prescribed',
 'cases_male_receipt_of_hiv_medical_care',
 'percent_female_hiv_viral_suppression',
 'percent_female_linkage_to_hiv_care',
 'percent_female_prep_coverage_and_number_of_persons_prescribed',
 'percent_female_receipt_of_hiv_medical_care',
 'percent_male_hiv_viral_suppression',
 'percent_male_linkage_to_hiv_care',
 'percent_male_prep_coverage_and_number_of_persons_prescribed',
 'percent_male_receipt_of_hiv_medical_care',
 'rate_per_100000_female_hiv_diagnoses',
 'rate_per_100000_female_hiv_prevalence',
 'rate_per_100000_male_hiv_diagnoses',
 'rate_per_100000_male_hiv_prevalence',
 'cases_female_chlamydia_0_14',
 'cases_female_chlamydia_15_19',
 'cases_female_chlamydia_20_24',
 'cases_female_chlamydia_25_29',
 'cases_female_chlamydia_30_34',
 'cases_female_chlamydia_35_39',
 'cases_female_chlamydia_40_44',
 'cases_female_chlamydia_45_54',
 'cases_female_chlamydia_55_64',
 'cases_female_chlamydia_65+',
 'cases_female_chlamydia_unknown_age_age_age_age_age',
 'cases_female_early non_primary, non_secondary syphilis_0_14',
 'cases_female_early non_primary, non_secondary syphilis_15_19',
 'cases_female_early non_primary, non_secondary syphilis_20_24',
 'cases_female_early non_primary, non_secondary syphilis_25_29',
 'cases_female_early non_primary, non_secondary syphilis_30_34',
 'cases_female_early non_primary, non_secondary syphilis_35_39',
 'cases_female_early non_primary, non_secondary syphilis_40_44',
 'cases_female_early non_primary, non_secondary syphilis_45_54',
 'cases_female_early non_primary, non_secondary syphilis_55_64',
 'cases_female_early non_primary, non_secondary syphilis_65+',
 'cases_female_early non_primary, non_secondary syphilis_unknown_age_age_age_age_age',
 'cases_female_gonorrhea_0_14',
 'cases_female_gonorrhea_15_19',
 'cases_female_gonorrhea_20_24',
 'cases_female_gonorrhea_25_29',
 'cases_female_gonorrhea_30_34',
 'cases_female_gonorrhea_35_39',
 'cases_female_gonorrhea_40_44',
 'cases_female_gonorrhea_45_54',
 'cases_female_gonorrhea_55_64',
 'cases_female_gonorrhea_65+',
 'cases_female_gonorrhea_unknown_age_age_age_age_age',
 'cases_female_primary and secondary syphilis_0_14',
 'cases_female_primary and secondary syphilis_15_19',
 'cases_female_primary and secondary syphilis_20_24',
 'cases_female_primary and secondary syphilis_25_29',
 'cases_female_primary and secondary syphilis_30_34',
 'cases_female_primary and secondary syphilis_35_39',
 'cases_female_primary and secondary syphilis_40_44',
 'cases_female_primary and secondary syphilis_45_54',
 'cases_female_primary and secondary syphilis_55_64',
 'cases_female_primary and secondary syphilis_65+',
 'cases_female_primary and secondary syphilis_unknown_age_age_age_age_age',
 'cases_male_chlamydia_0_14',
 'cases_male_chlamydia_15_19',
 'cases_male_chlamydia_20_24',
 'cases_male_chlamydia_25_29',
 'cases_male_chlamydia_30_34',
 'cases_male_chlamydia_35_39',
 'cases_male_chlamydia_40_44',
 'cases_male_chlamydia_45_54',
 'cases_male_chlamydia_55_64',
 'cases_male_chlamydia_65+',
 'cases_male_chlamydia_unknown_age_age_age_age_age',
 'cases_male_early non_primary, non_secondary syphilis_0_14',
 'cases_male_early non_primary, non_secondary syphilis_15_19',
 'cases_male_early non_primary, non_secondary syphilis_20_24',
 'cases_male_early non_primary, non_secondary syphilis_25_29',
 'cases_male_early non_primary, non_secondary syphilis_30_34',
 'cases_male_early non_primary, non_secondary syphilis_35_39',
 'cases_male_early non_primary, non_secondary syphilis_40_44',
 'cases_male_early non_primary, non_secondary syphilis_45_54',
 'cases_male_early non_primary, non_secondary syphilis_55_64',
 'cases_male_early non_primary, non_secondary syphilis_65+',
 'cases_male_early non_primary, non_secondary syphilis_unknown_age_age_age_age_age',
 'cases_male_gonorrhea_0_14',
 'cases_male_gonorrhea_15_19',
 'cases_male_gonorrhea_20_24',
 'cases_male_gonorrhea_25_29',
 'cases_male_gonorrhea_30_34',
 'cases_male_gonorrhea_35_39',
 'cases_male_gonorrhea_40_44',
 'cases_male_gonorrhea_45_54',
 'cases_male_gonorrhea_55_64',
 'cases_male_gonorrhea_65+',
 'cases_male_gonorrhea_unknown_age_age_age_age_age',
 'cases_male_primary and secondary syphilis_0_14',
 'cases_male_primary and secondary syphilis_15_19',
 'cases_male_primary and secondary syphilis_20_24',
 'cases_male_primary and secondary syphilis_25_29',
 'cases_male_primary and secondary syphilis_30_34',
 'cases_male_primary and secondary syphilis_35_39',
 'cases_male_primary and secondary syphilis_40_44',
 'cases_male_primary and secondary syphilis_45_54',
 'cases_male_primary and secondary syphilis_55_64',
 'cases_male_primary and secondary syphilis_65+',
 'cases_male_primary and secondary syphilis_unknown_age_age_age_age_age',
 'rateper100000_female_chlamydia_0_14',
 'rateper100000_female_chlamydia_15_19',
 'rateper100000_female_chlamydia_20_24',
 'rateper100000_female_chlamydia_25_29',
 'rateper100000_female_chlamydia_30_34',
 'rateper100000_female_chlamydia_35_39',
 'rateper100000_female_chlamydia_40_44',
 'rateper100000_female_chlamydia_45_54',
 'rateper100000_female_chlamydia_55_64',
 'rateper100000_female_chlamydia_65+',
 'rateper100000_female_early non_primary, non_secondary syphilis_0_14',
 'rateper100000_female_early non_primary, non_secondary syphilis_15_19',
 'rateper100000_female_early non_primary, non_secondary syphilis_20_24',
 'rateper100000_female_early non_primary, non_secondary syphilis_25_29',
 'rateper100000_female_early non_primary, non_secondary syphilis_30_34',
 'rateper100000_female_early non_primary, non_secondary syphilis_35_39',
 'rateper100000_female_early non_primary, non_secondary syphilis_40_44',
 'rateper100000_female_early non_primary, non_secondary syphilis_45_54',
 'rateper100000_female_early non_primary, non_secondary syphilis_55_64',
 'rateper100000_female_early non_primary, non_secondary syphilis_65+',
 'rateper100000_female_gonorrhea_0_14',
 'rateper100000_female_gonorrhea_15_19',
 'rateper100000_female_gonorrhea_20_24',
 'rateper100000_female_gonorrhea_25_29',
 'rateper100000_female_gonorrhea_30_34',
 'rateper100000_female_gonorrhea_35_39',
 'rateper100000_female_gonorrhea_40_44',
 'rateper100000_female_gonorrhea_45_54',
 'rateper100000_female_gonorrhea_55_64',
 'rateper100000_female_gonorrhea_65+',
 'rateper100000_female_primary and secondary syphilis_0_14',
 'rateper100000_female_primary and secondary syphilis_15_19',
 'rateper100000_female_primary and secondary syphilis_20_24',
 'rateper100000_female_primary and secondary syphilis_25_29',
 'rateper100000_female_primary and secondary syphilis_30_34',
 'rateper100000_female_primary and secondary syphilis_35_39',
 'rateper100000_female_primary and secondary syphilis_40_44',
 'rateper100000_female_primary and secondary syphilis_45_54',
 'rateper100000_female_primary and secondary syphilis_55_64',
 'rateper100000_female_primary and secondary syphilis_65+',
 'rateper100000_male_chlamydia_0_14',
 'rateper100000_male_chlamydia_15_19',
 'rateper100000_male_chlamydia_20_24',
 'rateper100000_male_chlamydia_25_29',
 'rateper100000_male_chlamydia_30_34',
 'rateper100000_male_chlamydia_35_39',
 'rateper100000_male_chlamydia_40_44',
 'rateper100000_male_chlamydia_45_54',
 'rateper100000_male_chlamydia_55_64',
 'rateper100000_male_chlamydia_65+',
 'rateper100000_male_early non_primary, non_secondary syphilis_0_14',
 'rateper100000_male_early non_primary, non_secondary syphilis_15_19',
 'rateper100000_male_early non_primary, non_secondary syphilis_20_24',
 'rateper100000_male_early non_primary, non_secondary syphilis_25_29',
 'rateper100000_male_early non_primary, non_secondary syphilis_30_34',
 'rateper100000_male_early non_primary, non_secondary syphilis_35_39',
 'rateper100000_male_early non_primary, non_secondary syphilis_40_44',
 'rateper100000_male_early non_primary, non_secondary syphilis_45_54',
 'rateper100000_male_early non_primary, non_secondary syphilis_55_64',
 'rateper100000_male_early non_primary, non_secondary syphilis_65+',
 'rateper100000_male_gonorrhea_0_14',
 'rateper100000_male_gonorrhea_15_19',
 'rateper100000_male_gonorrhea_20_24',
 'rateper100000_male_gonorrhea_25_29',
 'rateper100000_male_gonorrhea_30_34',
 'rateper100000_male_gonorrhea_35_39',
 'rateper100000_male_gonorrhea_40_44',
 'rateper100000_male_gonorrhea_45_54',
 'rateper100000_male_gonorrhea_55_64',
 'rateper100000_male_gonorrhea_65+',
 'rateper100000_male_primary and secondary syphilis_0_14',
 'rateper100000_male_primary and secondary syphilis_15_19',
 'rateper100000_male_primary and secondary syphilis_20_24',
 'rateper100000_male_primary and secondary syphilis_25_29',
 'rateper100000_male_primary and secondary syphilis_30_34',
 'rateper100000_male_primary and secondary syphilis_35_39',
 'rateper100000_male_primary and secondary syphilis_40_44',
 'rateper100000_male_primary and secondary syphilis_45_54',
 'rateper100000_male_primary and secondary syphilis_55_64',
 'rateper100000_male_primary and secondary syphilis_65+',
 'cases_13-24_HIV diagnoses',
 'cases_13-24_HIV prevalence',
 'cases_13-24_HIV viral suppression',
 'cases_13-24_Linkage to HIV care',
 'cases_13-24_PrEP coverage and number of persons prescribed',
 'cases_13-24_Receipt of HIV medical care',
 'cases_25-34_HIV diagnoses',
 'cases_25-34_HIV prevalence',
 'cases_25-34_HIV viral suppression',
 'cases_25-34_Linkage to HIV care',
 'cases_25-34_PrEP coverage and number of persons prescribed',
 'cases_25-34_Receipt of HIV medical care',
 'cases_35-44_HIV diagnoses',
 'cases_35-44_HIV prevalence',
 'cases_35-44_HIV viral suppression',
 'cases_35-44_Linkage to HIV care',
 'cases_35-44_PrEP coverage and number of persons prescribed',
 'cases_35-44_Receipt of HIV medical care',
 'cases_45-54_HIV diagnoses',
 'cases_45-54_HIV prevalence',
 'cases_45-54_HIV viral suppression',
 'cases_45-54_Linkage to HIV care',
 'cases_45-54_PrEP coverage and number of persons prescribed',
 'cases_45-54_Receipt of HIV medical care',
 'cases_55+_HIV diagnoses',
 'cases_55+_HIV prevalence',
 'cases_55+_HIV viral suppression',
 'cases_55+_Linkage to HIV care',
 'cases_55+_PrEP coverage and number of persons prescribed',
 'cases_55+_Receipt of HIV medical care',
 'percent_13-24_HIV viral suppression',
 'percent_13-24_Linkage to HIV care',
 'percent_13-24_PrEP coverage and number of persons prescribed',
 'percent_13-24_Receipt of HIV medical care',
 'percent_25-34_HIV viral suppression',
 'percent_25-34_Linkage to HIV care',
 'percent_25-34_PrEP coverage and number of persons prescribed',
 'percent_25-34_Receipt of HIV medical care',
 'percent_35-44_HIV viral suppression',
 'percent_35-44_Linkage to HIV care',
 'percent_35-44_PrEP coverage and number of persons prescribed',
 'percent_35-44_Receipt of HIV medical care',
 'percent_45-54_HIV viral suppression',
 'percent_45-54_Linkage to HIV care',
 'percent_45-54_PrEP coverage and number of persons prescribed',
 'percent_45-54_Receipt of HIV medical care',
 'percent_55+_HIV viral suppression',
 'percent_55+_Linkage to HIV care',
 'percent_55+_PrEP coverage and number of persons prescribed',
 'percent_55+_Receipt of HIV medical care',
 'ratePer100000_13-24_HIV diagnoses',
 'ratePer100000_13-24_HIV prevalence',
 'ratePer100000_25-34_HIV diagnoses',
 'ratePer100000_25-34_HIV prevalence',
 'ratePer100000_35-44_HIV diagnoses',
 'ratePer100000_35-44_HIV prevalence',
 'ratePer100000_45-54_HIV diagnoses',
 'ratePer100000_45-54_HIV prevalence',
 'ratePer100000_55+_HIV diagnoses',
 'ratePer100000_55+_HIV prevalence',
 'cases_HIV diagnoses',
 'cases_HIV prevalence',
 'ratePer100000_HIV diagnoses',
 'ratePer100000_HIV prevalence',
 'cases_chlamydia_x',
 'cases_early_non-primary_non-secondary_syphilis_x',
 'cases_gonorrhea_x',
 'cases_primary_and_secondary_syphilis_x',
 'rate_per_100000_chlamydia_x',
 'rate_per_100000_early_non-primary_non-secondary_syphilis_x',
 'rate_per_100000_gonorrhea_x',
 'rate_per_100000_primary_and_secondary_syphilis_x',
 'cases_female_chlamydia_american_indian_alaska_native_x',
 'cases_female_chlamydia_asian_x',
 'cases_female_chlamydia_black_african_american_x',
 'cases_female_chlamydia_hispanic_latino_x',
 'cases_female_chlamydia_multiracial_x',
 'cases_female_chlamydia_native_hawaiian_other_pacific_islander_x',
 'cases_female_chlamydia_unknown_x',
 'cases_female_chlamydia_white_x',
 'cases_female_early_non-primary,_non-secondary_syphilis_american_indian_alaska_native_x',
 'cases_female_early_non-primary,_non-secondary_syphilis_asian_x',
 'cases_female_early_non-primary,_non-secondary_syphilis_black_african_american_x',
 'cases_female_early_non-primary,_non-secondary_syphilis_hispanic_latino_x',
 'cases_female_early_non-primary,_non-secondary_syphilis_multiracial_x',
 'cases_female_early_non-primary,_non-secondary_syphilis_native_hawaiian_other_pacific_islander_x',
 'cases_female_early_non-primary,_non-secondary_syphilis_unknown_x',
 'cases_female_early_non-primary,_non-secondary_syphilis_white_x',
 'cases_female_gonorrhea_american_indian_alaska_native_x',
 'cases_female_gonorrhea_asian_x',
 'cases_female_gonorrhea_black_african_american_x',
 'cases_female_gonorrhea_hispanic_latino_x',
 'cases_female_gonorrhea_multiracial_x',
 'cases_female_gonorrhea_native_hawaiian_other_pacific_islander_x',
 'cases_female_gonorrhea_unknown_x',
 'cases_female_gonorrhea_white_x',
 'cases_female_primary_and_secondary_syphilis_american_indian_alaska_native_x',
 'cases_female_primary_and_secondary_syphilis_asian_x',
 'cases_female_primary_and_secondary_syphilis_black_african_american_x',
 'cases_female_primary_and_secondary_syphilis_hispanic_latino_x',
 'cases_female_primary_and_secondary_syphilis_multiracial_x',
 'cases_female_primary_and_secondary_syphilis_native_hawaiian_other_pacific_islander_x',
 'cases_female_primary_and_secondary_syphilis_unknown_x',
 'cases_female_primary_and_secondary_syphilis_white_x',
 'cases_male_chlamydia_american_indian_alaska_native_x',
 'cases_male_chlamydia_asian_x',
 'cases_male_chlamydia_black_african_american_x',
 'cases_male_chlamydia_hispanic_latino_x',
 'cases_male_chlamydia_multiracial_x',
 'cases_male_chlamydia_native_hawaiian_other_pacific_islander_x',
 'cases_male_chlamydia_unknown_x',
 'cases_male_chlamydia_white_x',
 'cases_male_early_non-primary,_non-secondary_syphilis_american_indian_alaska_native_x',
 'cases_male_early_non-primary,_non-secondary_syphilis_asian_x',
 'cases_male_early_non-primary,_non-secondary_syphilis_black_african_american_x',
 'cases_male_early_non-primary,_non-secondary_syphilis_hispanic_latino_x',
 'cases_male_early_non-primary,_non-secondary_syphilis_multiracial_x',
 'cases_male_early_non-primary,_non-secondary_syphilis_native_hawaiian_other_pacific_islander_x',
 'cases_male_early_non-primary,_non-secondary_syphilis_unknown_x',
 'cases_male_early_non-primary,_non-secondary_syphilis_white_x',
 'cases_male_gonorrhea_american_indian_alaska_native_x',
 'cases_male_gonorrhea_asian_x',
 'cases_male_gonorrhea_black_african_american_x',
 'cases_male_gonorrhea_hispanic_latino_x',
 'cases_male_gonorrhea_multiracial_x',
 'cases_male_gonorrhea_native_hawaiian_other_pacific_islander_x',
 'cases_male_gonorrhea_unknown_x',
 'cases_male_gonorrhea_white_x',
 'cases_male_primary_and_secondary_syphilis_american_indian_alaska_native_x',
 'cases_male_primary_and_secondary_syphilis_asian_x',
 'cases_male_primary_and_secondary_syphilis_black_african_american_x',
 'cases_male_primary_and_secondary_syphilis_hispanic_latino_x',
 'cases_male_primary_and_secondary_syphilis_multiracial_x',
 'cases_male_primary_and_secondary_syphilis_native_hawaiian_other_pacific_islander_x',
 'cases_male_primary_and_secondary_syphilis_unknown_x',
 'cases_male_primary_and_secondary_syphilis_white_x',
 'rate_per_100000_female_chlamydia_american_indian_alaska_native_x',
 'rate_per_100000_female_chlamydia_asian_x',
 'rate_per_100000_female_chlamydia_black_african_american_x',
 'rate_per_100000_female_chlamydia_hispanic_latino_x',
 'rate_per_100000_female_chlamydia_multiracial_x',
 'rate_per_100000_female_chlamydia_native_hawaiian_other_pacific_islander_x',
 'rate_per_100000_female_chlamydia_white_x',
 'rate_per_100000_female_early_non-primary,_non-secondary_syphilis_american_indian_alaska_native_x',
 'rate_per_100000_female_early_non-primary,_non-secondary_syphilis_asian_x',
 'rate_per_100000_female_early_non-primary,_non-secondary_syphilis_black_african_american_x',
 'rate_per_100000_female_early_non-primary,_non-secondary_syphilis_hispanic_latino_x',
 'rate_per_100000_female_early_non-primary,_non-secondary_syphilis_multiracial_x',
 'rate_per_100000_female_early_non-primary,_non-secondary_syphilis_native_hawaiian_other_pacific_islander_x',
 'rate_per_100000_female_early_non-primary,_non-secondary_syphilis_white_x',
 'rate_per_100000_female_gonorrhea_american_indian_alaska_native_x',

In [33]:
df = df[(df['year'] >= 2002) & (df['year'] <= 2020)]
df[df['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

,year,fips,cases_female_hiv_diagnoses,cases_female_hiv_prevalence,cases_female_hiv_viral_suppression,cases_female_linkage_to_hiv_care,cases_female_prep_coverage_and_number_of_persons_prescribed,cases_female_receipt_of_hiv_medical_care,cases_male_hiv_diagnoses,cases_male_hiv_prevalence,...,rate_per_100000_male_gonorrhea_multiracial,rate_per_100000_male_gonorrhea_native_hawaiian_other_pacific_islander,rate_per_100000_male_gonorrhea_white,rate_per_100000_male_primary_and_secondary_syphilis_american_indian_alaska_native,rate_per_100000_male_primary_and_secondary_syphilis_asian,rate_per_100000_male_primary_and_secondary_syphilis_black_african_american,rate_per_100000_male_primary_and_secondary_syphilis_hispanic_latino,rate_per_100000_male_primary_and_secondary_syphilis_multiracial,rate_per_100000_male_primary_and_secondary_syphilis_native_hawaiian_other_pacific_islander,rate_per_100000_male_primary_and_secondary_syphilis_white
49584,2002,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52802,2003,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56020,2004,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59238,2005,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62456,2006,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65674,2007,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11993,2008,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15089,2009,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18195,2010,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21311,2011,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24454,2012,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27597,2013,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30730,2014,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33869,2015,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37009,2016,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2017,45001,0.0,12.0,NaN,NaN,NaN,NaN,0.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2480,2018,45001,NaN,11.0,NaN,NaN,NaN,NaN,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4966,2019,45001,0.0,13.0,9.0,0.0,NaN,10.0,0.0,41.0,...,0.0,0.0,24.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7583,2020,45001,NaN,13.0,6.0,NaN,NaN,7.0,NaN,43.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

path = '../Data/Clean/ACS'
cov = []

for files in os.listdir(path):
    if not files.startswith('.'):
        cov.append(pd.read_csv(os.path.join(path, files), index_col = 0).columns.to_list())

print(type(cov))
#print(cov)

df_list = [x for xs in cov for x in xs]
print(df_list)
print([c for c in df.columns if c in df_list])
cov = df.columns.intersection(total[j].columns)
df[[c for c in df.columns if c in df_list]]

In [34]:
df.to_csv('../Data/Final/STI0220_cov0220.csv', index = False)