In [2]:
import pandas as pd
import numpy as np
import glob

In [3]:
tot_df = []
# for j,i in enumerate(np.arange(2016, 2021, 1)):

for f in glob.glob("../Data/Raw/HPS/*.csv") :
    tot_df.append(pd.read_csv(f, skiprows = 3))
df = pd.concat(tot_df, axis = 0)

In [4]:
df.head()

,Week,Area,Total Population age 18+,Measure Universe,Number,Margin of Error +/-,Percent,MOE +/-
0,1,United States,249170916.0,223113110.0,86449064.0,1297724.0,38.7,0.5
1,1,Alabama,3717378.0,3205157.0,1206233.0,147165.0,37.6,4.4
2,1,Alaska,524925.0,476589.0,203137.0,16690.0,42.6,3.4
3,1,Arizona,5597268.0,4985432.0,1818427.0,120714.0,36.5,2.5
4,1,Arkansas,2246527.0,1907983.0,788832.0,96665.0,41.3,5.0

In [5]:
pd.unique(df.Area)

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming',
       'Atlanta-Sandy Springs-Alpharetta, GA Metro Area',
       'Boston-Cambridge-Newton, MA-NH Metro Area',
       'Chicago-Naperville-Elgin, IL-IN-WI Metro Area',
       'Dallas-Fort Worth-Arlington, TX Metro Area',
       'Detroit-Warren-Dearborn, MI Metro Area',
       'Houston-The Woodlands-Sugar Land, TX Metro Area',
       'Los Angeles-Long Beach-Anaheim, CA Metro Area',
       'Miami-Fort Lauderdale-Pompano Beach, FL Metro Area',
       'New York-Newark-Jersey City, NY-NJ-PA Metro Area',
       'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Metro Area',
       'Phoenix-Mesa-Chandler, AZ Metro Area',
       'Riverside-San Bernardino-Ontario, CA Metro Area',
       'San Francisco-Oakland-Berkeley, CA Metro Area',
       'Seattle-Tacoma-Bellevue, WA Metro Area',
       'Washington-Arlington-Alexandria, DC-VA-MD-WV Metro Area', nan],
      dtype=object)

In [6]:
us_states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming']

In [7]:
len(us_states)

51

In [8]:
df = df.loc[df.Area.isin(us_states)]

In [9]:
df.head()

,Week,Area,Total Population age 18+,Measure Universe,Number,Margin of Error +/-,Percent,MOE +/-
1,1,Alabama,3717378.0,3205157.0,1206233.0,147165.0,37.6,4.4
2,1,Alaska,524925.0,476589.0,203137.0,16690.0,42.6,3.4
3,1,Arizona,5597268.0,4985432.0,1818427.0,120714.0,36.5,2.5
4,1,Arkansas,2246527.0,1907983.0,788832.0,96665.0,41.3,5.0
5,1,California,29939021.0,26954916.0,10639086.0,760101.0,39.5,2.6

In [10]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns = { "total_population_age_18+" : "total_population_age_18"})

In [11]:
df[['week','total_population_age_18','number','percent','measure_universe']] = df[['week','total_population_age_18','number','percent','measure_universe']].apply(pd.to_numeric)

In [12]:
df = df.sort_values(by= "week")

In [13]:
df = df.drop(['margin_of_error_+/-','moe_+/-'],axis = 1)

In [14]:
df.head()

,week,area,total_population_age_18,measure_universe,number,percent
1,1,Alabama,3717378.0,3205157.0,1206233.0,37.6
29,1,Nevada,2399457.0,2196353.0,912002.0,41.5
30,1,New Hampshire,1073014.0,977491.0,369968.0,37.8
31,1,New Jersey,6776822.0,5941384.0,2251839.0,37.9
32,1,New Mexico,1589574.0,1433523.0,576774.0,40.2

In [15]:
df['year'] = 2020

In [16]:
df = df.groupby(['year','area'])['percent'].mean().reset_index() ## Double check ::: I have done average over week for each state

In [17]:
df = df.rename(columns={"percent" : "pct_delayed_healthcare"})

In [18]:
df.dtypes

year                        int64
area                       object
pct_delayed_healthcare    float64
dtype: object

In [19]:
df.to_csv("../Data/clean/HPS/hps_clean.csv")