In [94]:
import pandas as pd
import numpy as np
import os
from functools import reduce

In [101]:
total = []
folder = '../Data/Clean'

for dirs in os.listdir(folder):
    if not dirs.endswith(('.txt', 'checkpoints', 'HPS', 'ACS', 'USAFacts')):
        #print(dirs)
        for files in os.listdir(os.path.join(folder,dirs)):
            if not files.endswith(('.txt', 'checkpoints')):
                print(os.path.join(dirs, files))
                total.append(pd.DataFrame(pd.read_csv(os.path.join(folder,(os.path.join(dirs,files))), sep = ',', index_col = 0)))
    
                
folder2 = '../Data/Intermediate'
for files2 in os.listdir(folder2):
    if not (files2.endswith(('.txt', 'checkpoints', 'hps_processed.csv'))):
            total.append(pd.DataFrame(pd.read_csv(os.path.join(folder2,files2), sep = ',', index_col = 0)))
            print(files2)
            print(pd.DataFrame(pd.read_csv(os.path.join(folder2,files2), sep = ',', index_col = 0)).shape)

CDC\CDCSTDagesex20192020_clean.csv
CDC\CDCSTDoverall2000_2020_clean.csv
CDC\disagRaceSexHIV2017_2020_clean.csv
CDC\disagRaceSexSTD2019_2020_clean.csv
CDC\HIVcountyage_clean.csv
ACSDP03_merge.csv
(25762, 28)
ACSDP05_merge.csv
(25762, 34)
COVIDcounty_cases_processed.csv
(9426, 3)

In [102]:
for i in total:
    print(i.shape)
    if 'geography' in i.columns:
        i.drop(columns = 'geography', inplace = True)

(6191, 171)
(67578, 132)
(9980, 27)
(6189, 123)
(10878, 63)
(25762, 28)
(25762, 34)
(9426, 3)

In [103]:
df_merged = reduce(lambda  left,right: pd.merge(left, right, on=['year','fips'],
                                            how='outer'), total)
print(df_merged.shape)
print(df_merged.columns)
df_merged

(74021, 563)
Index(['year', 'fips', 'cases_female_chlamydia_0_14',
       'cases_female_chlamydia_15_19', 'cases_female_chlamydia_20_24',
       'cases_female_chlamydia_25_29', 'cases_female_chlamydia_30_34',
       'cases_female_chlamydia_35_39', 'cases_female_chlamydia_40_44',
       'cases_female_chlamydia_45_54',
       ...
       'pct_one_or_more_race_black', 'pct_one_or_more_race_native_american',
       'pct_one_or_more_race_asian',
       'pct_one_or_more_race_native_hawaiian_pacific_islander',
       'pct_one_or_more_race_other_race', 'pct_ethnicity_hispanic',
       'total_pop', 'pct_sex_age_16+', 'covid_cases', 'county_name'],
      dtype='object', length=563)

,year,fips,cases_female_chlamydia_0_14,cases_female_chlamydia_15_19,cases_female_chlamydia_20_24,cases_female_chlamydia_25_29,cases_female_chlamydia_30_34,cases_female_chlamydia_35_39,cases_female_chlamydia_40_44,cases_female_chlamydia_45_54,...,pct_one_or_more_race_black,pct_one_or_more_race_native_american,pct_one_or_more_race_asian,pct_one_or_more_race_native_hawaiian_pacific_islander,pct_one_or_more_race_other_race,pct_ethnicity_hispanic,total_pop,pct_sex_age_16+,covid_cases,county_name
0,2019,45001,1.0,33.0,32.0,11.0,3.0,2.0,2.0,1.0,...,29.2,0.5,0.4,0.0,0.4,1.5,24627.0,81.7,NaN,NaN
1,2019,22001,4.0,105.0,97.0,25.0,19.0,4.0,2.0,0.0,...,19.4,1.2,0.1,0.0,0.4,2.6,62457.0,76.8,NaN,NaN
2,2019,51001,1.0,46.0,64.0,22.0,16.0,4.0,1.0,1.0,...,29.2,0.9,0.9,0.0,0.9,9.0,32673.0,81.3,NaN,NaN
3,2019,19001,0.0,2.0,3.0,9.0,1.0,0.0,1.0,0.0,...,0.9,0.5,0.9,0.0,0.3,2.1,7085.0,80.5,NaN,NaN
4,2019,21001,0.0,19.0,11.0,2.0,1.0,0.0,0.0,1.0,...,3.3,0.8,0.8,0.0,0.3,2.0,19222.0,83.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74016,2022,56041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5815.0,Uinta County
74017,2021,56043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1880.0,Washakie County
74018,2022,56043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2482.0,Washakie County
74019,2021,56045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1254.0,Weston County
74020,2022,56045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1643.0,Weston County

In [106]:
rates = [1.25, 1.23, 1.23, 1.22, 1.19, 1.16, 1.14, 1.14]
df_merged['per_capita_income22'] = None
years = list(range(2016, 2021))

for index, i in enumerate(years): 
    df_merged.loc[df_merged['year'] == i, 'per_capita_income22'] = df_merged.loc[df_merged['year'] == i, 'per_capita_income_' + str(i)] * rates[index]
    #print(df_merged.loc[df_merged['year'] == i, 'per_capita_income22'])
#print(df_merged.loc[:,'per_capita_income_2018'].dtypes)

In [107]:
list(df_merged.columns)
print(df_merged.dtypes)

year                              int64
fips                              int64
cases_female_chlamydia_0_14     float64
cases_female_chlamydia_15_19    float64
cases_female_chlamydia_20_24    float64
                                 ...
total_pop                       float64
pct_sex_age_16+                 float64
covid_cases                     float64
county_name                      object
per_capita_income22              object
Length: 564, dtype: object

In [108]:
df_merged['state_fips'] = (np.floor(df_merged['fips'] / 1000)).astype('int64')
print(df_merged['state_fips'].unique())
df_merged[df_merged['state_fips']==11].head()

[45 22 51 19 21 29 40  8 17 18 28 38 31 39 42 53 55 50 27 12 37  6 36 56
 26  2 24 20 47 48 23  4 13  5 34 46  1 41 54 25 49 30 33 35 44 32 11  9
 15 10 16 72]

,year,fips,cases_female_chlamydia_0_14,cases_female_chlamydia_15_19,cases_female_chlamydia_20_24,cases_female_chlamydia_25_29,cases_female_chlamydia_30_34,cases_female_chlamydia_35_39,cases_female_chlamydia_40_44,cases_female_chlamydia_45_54,...,pct_one_or_more_race_asian,pct_one_or_more_race_native_hawaiian_pacific_islander,pct_one_or_more_race_other_race,pct_ethnicity_hispanic,total_pop,pct_sex_age_16+,covid_cases,county_name,per_capita_income22,state_fips
784,2019,11001,81.0,1525.0,1678.0,1020.0,367.0,175.0,73.0,55.0,...,5.3,0.2,5.5,11.0,692683.0,83.6,NaN,NaN,68499.34,11
3924,2020,11001,40.0,965.0,1067.0,677.0,288.0,108.0,34.0,28.0,...,5.4,0.2,6.2,11.1,701974.0,83.5,28758.0,District of Columbia,69804.21,11
7093,2000,11001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,11
10311,2001,11001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,11
13529,2002,11001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,11

In [118]:
hps = pd.DataFrame(pd.read_csv('../Data/Intermediate/hps_processed.csv', sep = ',', index_col = 0))

In [119]:
df_tot = pd.merge(df_merged, hps, on = ['state_fips', 'year'], how = 'outer')

In [120]:
df_tot

,year,fips,cases_female_chlamydia_0_14,cases_female_chlamydia_15_19,cases_female_chlamydia_20_24,cases_female_chlamydia_25_29,cases_female_chlamydia_30_34,cases_female_chlamydia_35_39,cases_female_chlamydia_40_44,cases_female_chlamydia_45_54,...,pct_one_or_more_race_other_race,pct_ethnicity_hispanic,total_pop,pct_sex_age_16+,covid_cases,county_name,per_capita_income22,state_fips,area,pct_delayed_healthcare
0,2019,45001,1.0,33.0,32.0,11.0,3.0,2.0,2.0,1.0,...,0.4,1.5,24627.0,81.7,NaN,NaN,27628.12,45,NaN,NaN
1,2019,45003,15.0,311.0,258.0,119.0,37.0,23.0,6.0,5.0,...,0.9,5.7,168301.0,80.8,NaN,NaN,34643.12,45,NaN,NaN
2,2019,45005,0.0,32.0,25.0,11.0,2.0,3.0,1.0,0.0,...,1.9,3.3,9024.0,83.0,NaN,NaN,20721.7,45,NaN,NaN
3,2019,45007,3.0,254.0,282.0,148.0,69.0,33.0,10.0,10.0,...,1.2,3.8,198064.0,79.8,NaN,NaN,33613.44,45,NaN,NaN
4,2019,45009,0.0,46.0,43.0,12.0,3.0,2.0,2.0,1.0,...,1.2,2.1,14376.0,81.6,NaN,NaN,22544.38,45,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74016,2022,56037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11564.0,Sweetwater County,None,56,NaN,NaN
74017,2022,56039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10807.0,Teton County,None,56,NaN,NaN
74018,2022,56041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5815.0,Uinta County,None,56,NaN,NaN
74019,2022,56043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2482.0,Washakie County,None,56,NaN,NaN
74020,2022,56045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1643.0,Weston County,None,56,NaN,NaN

In [121]:
df_merged.to_csv('../Data/merged_data.csv', index = False)