In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from scipy import signal

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../Data/Final/STI0220_cov20_pop0220.csv", index_col = 0)
df.head()

,year,fips,cases_chlamydia,cases_early_non-primary_non-secondary_syphilis,cases_gonorrhea,cases_primary_and_secondary_syphilis,rate_per_100000_chlamydia,rate_per_100000_early_non-primary_non-secondary_syphilis,rate_per_100000_gonorrhea,rate_per_100000_primary_and_secondary_syphilis,...,pct_ind_transportation_and_warehousing_and_utilities,pct_ind_information,pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing,pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services,pct_ind_educational_services_and_health_care_and_social_assistance,pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services,pct_ind_other_services_except_public_administration,pct_ind_public_administration,health_insurance_rate,poverty_rate
0,2000,45001,61.0,1.0,57.0,2.0,232.6,3.8,217.4,7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,22001,0.0,8.0,0.0,11.0,0.0,13.6,0.0,18.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,51001,153.0,2.0,88.0,0.0,398.7,5.2,229.3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,16001,644.0,0.0,33.0,1.0,212.3,0.0,10.9,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,19001,8.0,0.0,0.0,0.0,97.6,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
cols = ['cases_gonorrhea','cases_chlamydia','cases_early_non-primary_non-secondary_syphilis',
        'cases_primary_and_secondary_syphilis', 'year']

df = df[df['year'] >= 2002]
fips = df['fips'].unique()
print(len(fips))
print(df.dtypes)

3214
year                                                                               int64
fips                                                                               int64
cases_chlamydia                                                                  float64
cases_early_non-primary_non-secondary_syphilis                                   float64
cases_gonorrhea                                                                  float64
                                                                                  ...
pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services    float64
pct_ind_other_services_except_public_administration                              float64
pct_ind_public_administration                                                    float64
health_insurance_rate                                                            float64
poverty_rate                                                                     float64
Length: 180, dtype: object

In [7]:
cov = pd.read_csv("../Data/Final/STI0220_cov0220.csv")

In [8]:
cov.columns

Index(['Unnamed: 0', 'year', 'fips', 'covid_cases', 'total_pop', 'pct_female',
       'pct_white', 'pct_black', 'pct_native_american', 'pct_asian',
       'pct_native_hawaiian_pacific_islander', 'pct_two_or_more_races',
       'pct_hispanic', 'unemployment_rate', 'employment_pop_ratio',
       'pct_ind_agriculture_forestry_fishing_and_hunting_and_mining',
       'pct_ind_construction', 'pct_ind_manufacturing',
       'pct_ind_wholesale_trade', 'pct_ind_retail_trade',
       'pct_ind_transportation_and_warehousing_and_utilities',
       'pct_ind_information',
       'pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing',
       'pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services',
       'pct_ind_educational_services_and_health_care_and_social_assistance',
       'pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services',
       'pct_ind_other_services_except_public_administration',
       'pct_ind_public_administration', 'health_insurance_rate',
       'poverty_rate', 'per_capita_income_2022'],
      dtype='object')

In [9]:
col_X = ['total_pop', 'pct_female',
       'pct_white', 'pct_black', 'pct_native_american', 'pct_asian',
       'pct_native_hawaiian_pacific_islander', 'pct_two_or_more_races',
       'pct_hispanic', 'unemployment_rate','poverty_rate']

,Unnamed: 0,year,fips,covid_cases,total_pop,pct_female,pct_white,pct_black,pct_native_american,pct_asian,...,pct_ind_information,pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing,pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services,pct_ind_educational_services_and_health_care_and_social_assistance,pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services,pct_ind_other_services_except_public_administration,pct_ind_public_administration,health_insurance_rate,poverty_rate,per_capita_income_2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
X = cov[col_X]

In [22]:
X = X.dropna()

In [27]:
X.to_numpy()

array([[4.59090000e+04, 5.12905966e-01, 8.07445163e-01, ...,
        1.61188438e-02, 4.80000000e+00, 1.03000000e+01],
       [4.68000000e+04, 5.13675214e-01, 8.05897436e-01, ...,
        1.69230769e-02, 5.00000000e+00, 1.04000000e+01],
       [4.83660000e+04, 5.13873382e-01, 8.04139271e-01, ...,
        1.79671670e-02, 4.70000000e+00, 1.16000000e+01],
       ...,
       [3.64390000e+04, 5.20000000e-01, 7.74000000e-01, ...,
        9.97000000e-01, 1.99000000e+01, 4.84000000e+01],
       [3.54280000e+04, 5.21000000e-01, 7.51000000e-01, ...,
        9.94000000e-01, 2.02000000e+01, 4.90000000e+01],
       [3.45010000e+04, 5.22000000e-01, 7.23000000e-01, ...,
        9.91000000e-01, 1.75000000e+01, 4.89000000e+01]])

In [12]:
from pmdarima.arima import auto_arima

In [30]:
act_values = []
pred_values = []
errors = []

#fips = fips[:500]

for index, i in enumerate(fips):
    df1 = df[(df['fips']==i) & (df['year']>= 2002)].loc[:,cols]
    df_sum = df1.groupby('year').sum().reset_index()
    df_model = df_sum[["year", "cases_chlamydia"]]
    #print(df_model.shape)
    df_model = df_model[(df_model["year"] <= 2019)]
    #df_model['cases_chlamydia'] = signal.detrend(df_model.cases_chlamydia)
    actual_value = df_model.iloc[-1, df_model.columns.get_loc('cases_chlamydia')] 
    df_plot = df_model
    #print(df_model.head(20))
    #print(actual_value)


    model = auto_arima(df_model["cases_chlamydia"], trace=True, error_action='ignore', suppress_warnings=True,X = X)
    model.fit(df_model["cases_chlamydia"])
    
    pred = model.predict(n_periods = 1)
    fitted_value = pred[0]
    #print(df['year'].nunique())
    
    act_values.append(actual_value)
    pred_values.append(fitted_value)
    errors.append(actual_value - fitted_value)
    
    #print(model_fit.summary())
    if index <= 10:
        print(i , ':    ', actual_value, ' & ', fitted_value)
        
    #print(model_fit.resid)
    #print(i , ':    ', fitted_value)
    #print(df_plot.head(20))
    #print(df_model.head(20))

ValueError: Found input variables with inconsistent numbers of samples: [60482, 18]

In [ ]:
dff = pd.DataFrame()
dff['fips'] = fips
dff['act_values_chlamydia'] = act_values
dff['pred_values_chlamydia'] = pred_values
dff['errors_chlamydia'] = errors