In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data_pop = pd.read_csv("../Data/Intermediate/ACSDP05_merge.csv")

/var/folders/m9/xn_kvh7s6191dgzxbr9l38x00000gn/T/ipykernel_70624/2360043603.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data_pop = pd.read_csv("../Data/Intermediate/ACSDP05_merge.csv")

In [6]:
data_covid = pd.read_csv("../Data/Intermediate/COVIDcounty_cases_processed.csv")

In [7]:
data_pop.head()

,Unnamed: 0,pct_sex_age_male,pct_sex_age_female,pct_sex_age_85+,median_age,pct_sex_age_18+,pct_sex_age_21+,pct_sex_age_62+,pct_sex_age_65+,pct_one_or_more_race,...,pct_sex_age_18+_female,pct_sex_age_65+_male,pct_sex_age_65+_female,pct_one_or_more_race_white,pct_one_or_more_race_black,pct_one_or_more_race_native_american,pct_one_or_more_race_asian,pct_one_or_more_race_native_hawaiian_pacific_islander,pct_one_or_more_race_other_race,pct_sex_age_16+
0,0,48.5,51.5,1.1,36.2,72.3,67.9,14.3,11.4,53155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,48.9,51.1,1.6,41.0,76.7,73.3,20.1,16.5,175791,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,52.9,47.1,1.8,38.0,77.5,73.7,16.7,13.7,27699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,53.8,46.2,0.7,38.3,76.6,72.5,15.7,12.4,22610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49.5,50.5,1.2,38.3,75.2,71.3,18.1,14.2,56692,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data_covid.head()

   year  fips  covid_cases      county_name
0  2020  1001         4164  Autauga County
1  2021  1001        10953  Autauga County
2  2022  1001        16536  Autauga County
3  2020  1003        13392  Baldwin County
4  2021  1003        39583  Baldwin County

In [1]:
plt.figure(figsize = (15,8))
g = sns.scatterplot(x = df_ref['rate per 100000'][2019],y = df_ref['rate per 100000'][2020],size = df_ref.total_pop[2019],sizes=(10, 1000),alpha=0.5)
xpoints = ypoints = plt.xlim()
plt.plot(xpoints, ypoints, linestyle='--', color='k', lw=3, scalex=False, scaley=False)
# sns.lineplot(x = [1,2],y =[1,2])
plt.title("Chlamydia")
plt.savefig("../Output/EDA/Chlamydia_scatterplot.png",dpi = 300)
# plt.axhline(y=0,c="black")
plt.show()

NameError: name 'plt' is not defined