In [25]:
import pandas as pd
import numpy as np
import os
from functools import reduce
from tabulate import tabulate

In [26]:
total = []
std = pd.read_csv('../Data/Intermediate/COVIDcounty_cases_processed_2020.csv', index_col = 0)
dp05 = pd.read_csv('../Data/Intermediate/ACSDP05_merge.csv', index_col = 0)
dp03 = pd.read_csv('../Data/Intermediate/ACSDP03_merge.csv', index_col = 0)
saipe = pd.read_csv('../Data/Intermediate/saipe0210.csv', index_col = 0)
hps = pd.read_csv('../Data/Intermediate/hps_processed.csv', index_col = 0)
total.extend([std, dp05, dp03, saipe])
#print(total)

In [27]:
for index, i in enumerate(total):
    i['fips'] = i['fips'].astype(str).str.zfill(5)
    #print(list(i.columns))
    if 'year' in i.columns:
        if 'area' in i.columns:
            i.drop(columns = 'area', inplace = True)
            print(index, ': ', 'Done')
        if 'county_name' in i.columns:
            i.drop(columns = 'county_name' , inplace = True)
            print(index, ': ', 'done')
        if 'state_fips' in i.columns:
            i.drop(columns = 'state_fips', inplace = True)
            print(index, ': ', 'DONE')

0 :  done

In [28]:
cov = total[0].columns.intersection(total[1].columns)
df = pd.merge(total[0], total[1], on = cov.to_list(), how = 'outer')
df = df[(df['year'] >= 2002) & (df['year'] <= 2020)]
df = df.sort_values(by = ['fips','year']).reset_index(drop = True)
print(df['year'].value_counts())
print(df.shape)
df.head(20)

2020    3222
2010    3221
2011    3221
2012    3221
2013    3221
2014    3220
2015    3220
2016    3220
2017    3220
2018    3220
2019    3220
Name: year, dtype: int64
(35426, 43)

,year,fips,covid_cases,pct_sex_age_male,pct_sex_age_female,pct_sex_age_85+,median_age,pct_sex_age_18+,pct_sex_age_21+,pct_sex_age_62+,...,pct_sex_age_18+_female,pct_sex_age_65+_male,pct_sex_age_65+_female,pct_one_or_more_race_white,pct_one_or_more_race_black,pct_one_or_more_race_native_american,pct_one_or_more_race_asian,pct_one_or_more_race_native_hawaiian_pacific_islander,pct_one_or_more_race_other_race,pct_sex_age_16+
0,2010,01001,NaN,48.5,51.5,1.1,36.2,72.3,67.9,14.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,01001,NaN,48.5,51.5,1.1,36.4,72.7,68.5,14.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,01001,NaN,48.6,51.4,1.2,37.0,73.2,68.7,15.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,01001,NaN,NaN,NaN,1.3,37.5,73.8,69.6,15.4,...,52.1,42.8,57.2,79.6,18.8,0.9,1.3,0.0,0.8,NaN
4,2014,01001,NaN,NaN,NaN,1.2,37.9,74.2,70.3,16.3,...,52.1,42.3,57.7,79.2,19.1,0.9,1.3,0.0,0.8,NaN
5,2015,01001,NaN,NaN,NaN,1.1,37.7,74.6,70.7,16.3,...,52.1,43.0,57.0,78.8,19.2,0.9,1.4,0.3,1.1,NaN
6,2016,01001,NaN,NaN,NaN,1.2,37.8,74.8,71.1,16.8,...,52.0,43.3,56.7,78.7,19.3,0.9,1.4,0.2,1.5,NaN
7,2017,01001,NaN,NaN,NaN,1.5,NaN,75.5,71.5,16.7,...,52.0,43.5,56.5,78.2,19.6,0.8,1.5,0.2,1.3,78.1
8,2018,01001,NaN,NaN,NaN,1.5,NaN,75.8,71.8,17.0,...,52.1,43.3,56.7,78.6,19.9,0.8,1.6,0.2,0.8,78.6
9,2019,01001,NaN,NaN,NaN,1.6,38.2,76.2,72.5,17.4,...,52.2,43.4,56.6,78.8,20.0,0.8,1.7,0.2,0.7,79.4
10,2020,01001,4164.0,NaN,NaN,1.7,38.6,76.4,73.1,18.1,...,52.3,43.4,56.6,78.0,20.5,0.8,1.9,0.0,1.3,79.7
11,2010,01003,NaN,48.9,51.1,1.6,41.0,76.7,73.3,20.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2011,01003,NaN,48.8,51.2,1.8,41.4,76.8,73.4,20.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2012,01003,NaN,48.7,51.3,1.8,41.2,77.0,73.7,20.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2013,01003,NaN,NaN,NaN,1.9,41.5,77.2,73.9,21.4,...,51.7,46.2,53.8,87.7,9.9,1.3,1.1,0.0,1.5,NaN
15,2014,01003,NaN,NaN,NaN,1.9,41.8,77.4,74.2,21.9,...,51.8,46.4,53.6,88.2,10.0,1.3,1.1,0.0,1.3,NaN
16,2015,01003,NaN,NaN,NaN,2.0,42.2,77.6,74.6,22.6,...,51.7,46.5,53.5,87.9,10.1,1.3,1.2,0.0,1.3,NaN
17,2016,01003,NaN,NaN,NaN,1.9,42.3,77.8,74.6,23.2,...,51.8,46.7,53.3,88.1,9.9,1.4,1.3,0.0,1.3,NaN
18,2017,01003,NaN,NaN,NaN,1.9,NaN,77.9,74.6,23.6,...,51.8,46.6,53.4,87.8,9.9,1.4,1.3,0.0,1.3,80.5
19,2018,01003,NaN,NaN,NaN,1.9,NaN,78.1,74.7,23.9,...,51.9,46.4,53.6,87.8,9.8,1.5,1.4,0.0,1.3,80.6

In [29]:
for i in total[2:9]:
    cov = df.columns.intersection(i.columns)
    df = pd.merge(df, i, on = cov.to_list(), how = 'outer')
    df = df[(df['year'] >= 2002) & (df['year'] <= 2020)]
    df = df.sort_values(by = ['fips','year']).reset_index(drop = True)
    print(df['year'].value_counts())
    print(df.shape)

2020    3222
2010    3221
2011    3221
2012    3221
2013    3221
2014    3220
2015    3220
2016    3220
2017    3220
2018    3220
2019    3220
Name: year, dtype: int64
(35426, 61)
2002    3228
2003    3228
2004    3228
2005    3228
2006    3228
2007    3228
2008    3228
2009    3228
2020    3222
2010    3221
2012    3221
2013    3221
2011    3221
2014    3220
2015    3220
2016    3220
2017    3220
2018    3220
2019    3220
Name: year, dtype: int64
(61250, 62)

In [30]:
print(df.dtypes)
df.head(30)

year                               int64
fips                              object
covid_cases                      float64
pct_sex_age_male                 float64
pct_sex_age_female               float64
                                  ...
pct_ind_public_administration    float64
health_insurance_rate            float64
poverty_rate                     float64
per_capita_income_2022           float64
employed_persons                 float64
Length: 62, dtype: object

,year,fips,covid_cases,pct_sex_age_male,pct_sex_age_female,pct_sex_age_85+,median_age,pct_sex_age_18+,pct_sex_age_21+,pct_sex_age_62+,...,pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing,pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services,pct_ind_educational_services_and_health_care_and_social_assistance,pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services,pct_ind_other_services_except_public_administration,pct_ind_public_administration,health_insurance_rate,poverty_rate,per_capita_income_2022,employed_persons
0,2002,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.3,70687.65,21096.0
1,2003,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,71228.01,21557.0
2,2004,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.6,70791.24,22146.0
3,2005,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,68428.88,22986.0
4,2006,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,67876.86,23619.0
5,2007,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,71532.50,23610.0
6,2008,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7,69689.70,23376.0
7,2009,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2,72720.97,22464.0
8,2010,01001,NaN,48.5,51.5,1.1,36.2,72.3,67.9,14.3,...,6.5,7.0,17.4,8.7,4.6,11.7,NaN,10.6,33412.48,NaN
9,2011,01001,NaN,48.5,51.5,1.1,36.4,72.7,68.5,14.5,...,6.2,7.1,18.3,8.2,4.4,11.3,NaN,10.9,32795.85,NaN
10,2012,01001,NaN,48.6,51.4,1.2,37.0,73.2,68.7,15.1,...,6.2,7.4,18.8,7.8,4.5,11.4,90.4,11.6,32576.37,NaN
11,2013,01001,NaN,NaN,NaN,1.3,37.5,73.8,69.6,15.4,...,6.0,7.8,17.7,7.6,5.9,11.4,88.7,12.1,31205.17,NaN
12,2014,01001,NaN,NaN,NaN,1.2,37.9,74.2,70.3,16.3,...,6.0,8.2,17.9,7.6,6.2,11.3,89.3,12.8,30558.56,NaN
13,2015,01001,NaN,NaN,NaN,1.1,37.7,74.6,70.7,16.3,...,5.2,7.7,18.8,7.9,6.4,11.2,89.9,12.9,30967.76,NaN
14,2016,01001,NaN,NaN,NaN,1.2,37.8,74.8,71.1,16.8,...,5.5,8.3,18.2,7.6,6.6,11.9,91.1,12.3,32186.64,NaN
15,2017,01001,NaN,NaN,NaN,1.5,NaN,75.5,71.5,16.7,...,5.6,8.1,17.6,8.9,7.2,11.2,91.2,13.7,33667.04,NaN
16,2018,01001,NaN,NaN,NaN,1.5,NaN,75.8,71.8,17.0,...,6.3,8.9,20.1,8.1,6.2,10.3,92.9,15.4,34658.96,NaN
17,2019,01001,NaN,NaN,NaN,1.6,38.2,76.2,72.5,17.4,...,6.0,9.6,20.2,8.8,5.4,9.4,92.9,15.2,34590.04,NaN
18,2020,01001,4164.0,NaN,NaN,1.7,38.6,76.4,73.1,18.1,...,5.5,9.8,20.4,8.4,5.0,10.7,92.0,15.2,34274.60,NaN
19,2002,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7,67349.70,65881.0
20,2003,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1,67557.21,69010.0
21,2004,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,65874.12,71061.0
22,2005,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.4,65062.08,73581.0
23,2006,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,66419.78,77263.0
24,2007,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.3,69811.46,80213.0
25,2008,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.9,70141.95,79222.0
26,2009,01003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.3,66632.69,74950.0
27,2010,01003,NaN,48.9,51.1,1.6,41.0,76.7,73.3,20.1,...,6.8,9.9,17.9,9.5,4.9,4.6,NaN,12.2,35997.84,NaN
28,2011,01003,NaN,48.8,51.2,1.8,41.4,76.8,73.4,20.5,...,6.7,10.1,19.1,9.9,5.0,4.7,NaN,12.5,35654.27,NaN
29,2012,01003,NaN,48.7,51.3,1.8,41.2,77.0,73.7,20.9,...,5.9,9.7,19.2,10.5,5.3,4.6,85.5,13.3,34532.01,NaN

In [31]:
df[(df['fips']=='01001')]

,year,fips,covid_cases,pct_sex_age_male,pct_sex_age_female,pct_sex_age_85+,median_age,pct_sex_age_18+,pct_sex_age_21+,pct_sex_age_62+,...,pct_ind_finance_and_insurance_and_real_estate_and_rental_and_leasing,pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services,pct_ind_educational_services_and_health_care_and_social_assistance,pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services,pct_ind_other_services_except_public_administration,pct_ind_public_administration,health_insurance_rate,poverty_rate,per_capita_income_2022,employed_persons
0,2002,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.3,70687.65,21096.0
1,2003,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,71228.01,21557.0
2,2004,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.6,70791.24,22146.0
3,2005,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,68428.88,22986.0
4,2006,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,67876.86,23619.0
5,2007,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,71532.50,23610.0
6,2008,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7,69689.70,23376.0
7,2009,01001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2,72720.97,22464.0
8,2010,01001,NaN,48.5,51.5,1.1,36.2,72.3,67.9,14.3,...,6.5,7.0,17.4,8.7,4.6,11.7,NaN,10.6,33412.48,NaN
9,2011,01001,NaN,48.5,51.5,1.1,36.4,72.7,68.5,14.5,...,6.2,7.1,18.3,8.2,4.4,11.3,NaN,10.9,32795.85,NaN
10,2012,01001,NaN,48.6,51.4,1.2,37.0,73.2,68.7,15.1,...,6.2,7.4,18.8,7.8,4.5,11.4,90.4,11.6,32576.37,NaN
11,2013,01001,NaN,NaN,NaN,1.3,37.5,73.8,69.6,15.4,...,6.0,7.8,17.7,7.6,5.9,11.4,88.7,12.1,31205.17,NaN
12,2014,01001,NaN,NaN,NaN,1.2,37.9,74.2,70.3,16.3,...,6.0,8.2,17.9,7.6,6.2,11.3,89.3,12.8,30558.56,NaN
13,2015,01001,NaN,NaN,NaN,1.1,37.7,74.6,70.7,16.3,...,5.2,7.7,18.8,7.9,6.4,11.2,89.9,12.9,30967.76,NaN
14,2016,01001,NaN,NaN,NaN,1.2,37.8,74.8,71.1,16.8,...,5.5,8.3,18.2,7.6,6.6,11.9,91.1,12.3,32186.64,NaN
15,2017,01001,NaN,NaN,NaN,1.5,NaN,75.5,71.5,16.7,...,5.6,8.1,17.6,8.9,7.2,11.2,91.2,13.7,33667.04,NaN
16,2018,01001,NaN,NaN,NaN,1.5,NaN,75.8,71.8,17.0,...,6.3,8.9,20.1,8.1,6.2,10.3,92.9,15.4,34658.96,NaN
17,2019,01001,NaN,NaN,NaN,1.6,38.2,76.2,72.5,17.4,...,6.0,9.6,20.2,8.8,5.4,9.4,92.9,15.2,34590.04,NaN
18,2020,01001,4164.0,NaN,NaN,1.7,38.6,76.4,73.1,18.1,...,5.5,9.8,20.4,8.4,5.0,10.7,92.0,15.2,34274.60,NaN

In [32]:
df.to_csv('../Data/Final/STI0220_cov0220.csv')