In [2]:
import pandas as pd
import numpy as np

In [3]:
# tot_df = []
# for j,i in enumerate(np.arange(2002, 2021, 1)):
#     tot_df.append(pd.read_csv('../Data/Raw/CDC/'+ 
#                               str(i) +'.csv', sep = ',', skiprows = 4))
# df = pd.concat(tot_df, axis = 0)

In [4]:
df_1 = pd.read_csv("../Data/Raw/CDC/CDCSTDoverall2000-2020.csv",skiprows = 4)

In [5]:
df_1.head()

,Indicator,Year,Geography,FIPS,Cases,Rate per 100000
0,Primary and Secondary Syphilis,2020 (COVID-19 Pandemic),"Abbeville County, SC",45001,4,16.3
1,Primary and Secondary Syphilis,2019,"Abbeville County, SC",45001,3,12.2
2,Primary and Secondary Syphilis,2018,"Abbeville County, SC",45001,2,8.1
3,Primary and Secondary Syphilis,2017,"Abbeville County, SC",45001,1,4.1
4,Primary and Secondary Syphilis,2016,"Abbeville County, SC",45001,1,4.1

In [6]:
df_1.columns = df_1.columns.str.lower()
df_1.columns = df_1.columns.str.replace(' ','_')

In [7]:
df_1.loc[df_1["year"].str.startswith('2020',na=False), "year"] = "2020"

In [8]:
data_to_be_removed = ["cases","rate_per_100000"]

In [9]:
for col in data_to_be_removed:
    df_1.loc[df_1[col].str.contains("Data",na = False), col] = np.nan
    df_1[col] = df_1[col].str.replace(',','')
df_1[['cases','year','rate_per_100000']] = df_1[['cases','year','rate_per_100000']].apply(pd.to_numeric)

In [10]:
searchfor = ['Gonorrhea', 'Chlamydia']
df_1_refine = df_1[df_1.indicator.str.contains('|'.join(searchfor))]

In [11]:
df_1 = df_1_refine.pivot_table(index=['year','fips'], columns=['indicator']).reset_index()
# df.columns = df.columns.map('_'.join).str.strip('_')
df_1.head()

           year  fips     cases           rate_per_100000
indicator             Chlamydia Gonorrhea       Chlamydia Gonorrhea
0          2000  1001     139.0     107.0           316.3     243.4
1          2000  1003     221.0     139.0           156.3      98.3
2          2000  1005     152.0      79.0           523.4     272.0
3          2000  1007      53.0      29.0           266.6     145.9
4          2000  1009      31.0       2.0            60.6       3.9

In [42]:
df_1 = pd.read_csv("../Data/Intermediate/CDCSTDoverall2000_2020_processed.csv",index_col=0)

In [46]:
df_1[df_1['fips']==30037]

,year,fips,cases_chlamydia,cases_early_non-primary_non-secondary_syphilis,cases_gonorrhea,cases_primary_and_secondary_syphilis,rate_per_100000_chlamydia,rate_per_100000_early_non-primary_non-secondary_syphilis,rate_per_100000_gonorrhea,rate_per_100000_primary_and_secondary_syphilis,...,rate_per_100000_male_gonorrhea_multiracial,rate_per_100000_male_gonorrhea_native_hawaiian_other_pacific_islander,rate_per_100000_male_gonorrhea_white,rate_per_100000_male_primary_and_secondary_syphilis_american_indian_alaska_native,rate_per_100000_male_primary_and_secondary_syphilis_asian,rate_per_100000_male_primary_and_secondary_syphilis_black_african_american,rate_per_100000_male_primary_and_secondary_syphilis_hispanic_latino,rate_per_100000_male_primary_and_secondary_syphilis_multiracial,rate_per_100000_male_primary_and_secondary_syphilis_native_hawaiian_other_pacific_islander,rate_per_100000_male_primary_and_secondary_syphilis_white
1083,2000,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1084,2000,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4301,2001,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4302,2001,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7519,2002,30037,1.0,0.0,0.0,0.0,94.5,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7520,2002,30037,5.0,0.0,0.0,0.0,67.9,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10737,2003,30037,2.0,0.0,0.0,0.0,191.4,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10738,2003,30037,10.0,0.0,0.0,0.0,138.6,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13955,2004,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13956,2004,30037,11.0,0.0,0.0,0.0,154.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17173,2005,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17174,2005,30037,15.0,0.0,1.0,0.0,213.5,0.0,14.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20391,2006,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20392,2006,30037,7.0,0.0,0.0,0.0,101.9,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23609,2007,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23610,2007,30037,8.0,0.0,0.0,0.0,116.4,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26827,2008,30037,2.0,0.0,0.0,0.0,191.4,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26828,2008,30037,14.0,0.0,1.0,0.0,203.3,0.0,14.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30045,2009,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30046,2009,30037,16.0,0.0,1.0,0.0,236.4,0.0,14.8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33263,2010,30037,3.0,0.0,0.0,0.0,341.3,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33264,2010,30037,6.0,0.0,0.0,0.0,81.3,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36481,2011,30037,1.0,0.0,0.0,0.0,120.5,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36482,2011,30037,13.0,0.0,0.0,0.0,174.2,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39699,2012,30037,2.0,0.0,0.0,0.0,241.8,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39700,2012,30037,22.0,0.0,0.0,0.0,293.4,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42917,2013,30037,1.0,0.0,0.0,0.0,118.2,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42918,2013,30037,14.0,0.0,0.0,0.0,183.5,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46135,2014,30037,1.0,0.0,0.0,0.0,118.9,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46136,2014,30037,14.0,0.0,4.0,0.0,183.6,0.0,52.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49353,2015,30037,1.0,0.0,0.0,0.0,122.2,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49354,2015,30037,3.0,0.0,6.0,0.0,39.4,0.0,78.7,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52571,2016,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52572,2016,30037,9.0,0.0,3.0,0.0,119.5,0.0,39.8,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55789,2017,30037,2.0,0.0,0.0,0.0,244.8,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55790,2017,30037,18.0,0.0,0.0,0.0,243.2,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59007,2018,30037,1.0,0.0,0.0,0.0,121.7,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59008,2018,30037,32.0,0.0,0.0,0.0,432.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62227,2019,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
62228,2019,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62229,2019,30037,12.0,0.0,4.0,0.0,162.2,0.0,54.1,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
62230,2019,30037,12.0,0.0,4.0,0.0,162.2,0.0,54.1,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65449,2020,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
65450,2020,30037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65451,2020,30037,13.0,0.0,2.0,0.0,175.8,0.0,27.0,0.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
65452,2020,30037,13.0,0.0,2.0,0.0,175.8,0.0,27.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Total Pop

In [13]:
df_pop = pd.read_csv("../Data/clean/nonACSDemographics/census_total_pop_2000_2010_clean.csv",index_col=0)

In [14]:
df_pop.head()

   fips  year  total_pop
1  1001  2000      44021
2  1003  2000     141342
3  1005  2000      29015
4  1007  2000      19913
5  1009  2000      51107

In [15]:
df_pop['fips'].value_counts()

1001     10
39091    10
39095    10
39097    10
39099    10
         ..
21115    10
21117    10
21119    10
21121    10
56045    10
Name: fips, Length: 3143, dtype: int64

In [16]:
import glob
for f in glob.glob("../Data/clean/ACS/ACSDP05*"):
    df_pop = pd.concat([df_pop,pd.read_csv(f)[['fips','year','total_pop']]])

In [17]:
# df_pop_1 = df_pop.pivot_table(index=['fips'], columns=['year']).reset_index()

### 2020 Covariates

In [18]:
df_2_1 = pd.read_csv('../Data/clean/ACS/ACSDP032020_clean.csv',index_col=0)

In [19]:
df_2_1.head()

,per_capita_income_2020,employment_pop_ratio,unemployment_rate,pct_ind_agriculture_forestry_fishing_and_hunting_and_mining,pct_ind_construction,pct_ind_manufacturing,pct_ind_wholesale_trade,pct_ind_retail_trade,pct_ind_transportation_and_warehousing_and_utilities,pct_ind_information,...,pct_ind_educational_services_and_health_care_and_social_assistance,pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services,pct_ind_other_services_except_public_administration,pct_ind_public_administration,health_insurance_rate,poverty_rate,id,geographic_area_name,year,fips
0,29804,55.4,2.9,0.8,7.5,11.1,3.2,10.7,5.7,1.1,...,20.4,8.4,5.0,10.7,92.0,15.2,0500000US01001,"Autauga County, Alabama",2020,1001
1,33751,55.8,3.9,1.8,8.0,9.7,2.7,13.6,5.1,1.1,...,19.3,9.9,5.0,5.3,90.5,9.2,0500000US01003,"Baldwin County, Alabama",2020,1003
2,20074,42.7,6.9,5.7,6.0,24.0,2.1,10.7,5.7,0.8,...,18.6,6.6,3.8,7.1,89.3,28.6,0500000US01005,"Barbour County, Alabama",2020,1005
3,22626,45.1,7.4,4.7,9.4,14.6,3.1,10.8,6.2,1.4,...,22.4,3.3,6.2,5.7,90.9,18.1,0500000US01007,"Bibb County, Alabama",2020,1007
4,25457,49.6,5.2,1.7,9.2,17.4,4.2,10.4,7.6,1.0,...,21.3,4.9,5.3,3.8,90.0,13.7,0500000US01009,"Blount County, Alabama",2020,1009

In [20]:
df_2_1 = df_2_1.drop(columns=['id','geographic_area_name'])

In [21]:
df_2_2 = pd.read_csv('../Data/clean/ACS/ACSDP052020_clean.csv',index_col = 0)

In [22]:
df_2_2.head()

,year,total_pop,pct_female,pct_white,pct_black,pct_native_american,pct_asian,pct_native_hawaiian_pacific_islander,pct_two_or_more_races,pct_hispanic,fips
0,2020,55639,0.514,0.758,0.195,0.003,0.012,0.000,0.026,0.029,1001
1,2020,218289,0.515,0.854,0.088,0.007,0.009,0.000,0.026,0.046,1003
2,2020,25026,0.474,0.463,0.477,0.004,0.005,0.000,0.021,0.044,1005
3,2020,22374,0.463,0.766,0.225,0.001,0.003,0.000,0.005,0.027,1007
4,2020,57755,0.503,0.940,0.014,0.001,0.004,0.001,0.022,0.093,1009

### Final Merge

In [23]:
df_cov = pd.merge(df_2_2,df_2_1,on=['fips','year'])

In [44]:
df_final = pd.merge(df_1,df_cov,on =['year','fips'],how='left')

In [45]:
df_final['fips'].value_counts()

30037    46
48117    46
45001    21
51133    21
2180     21
         ..
13125    21
48173    21
6021     21
34015    21
46137    21
Name: fips, Length: 3216, dtype: int64

In [ ]:
df_final.to_csv('../Data/Final/STI0220_cov20_pop0220.csv')