In [94]:
import pandas as pd
import numpy as np

In [95]:
# tot_df = []
# for j,i in enumerate(np.arange(2002, 2021, 1)):
#     tot_df.append(pd.read_csv('../Data/Raw/CDC/'+ 
#                               str(i) +'.csv', sep = ',', skiprows = 4))
# df = pd.concat(tot_df, axis = 0)

In [96]:
df_1 = pd.read_csv("../Data/Raw/CDC/CDCSTDoverall2000-2020.csv",skiprows = 4)

In [97]:
df_1.head()

,Indicator,Year,Geography,FIPS,Cases,Rate per 100000
0,Primary and Secondary Syphilis,2020 (COVID-19 Pandemic),"Abbeville County, SC",45001,4,16.3
1,Primary and Secondary Syphilis,2019,"Abbeville County, SC",45001,3,12.2
2,Primary and Secondary Syphilis,2018,"Abbeville County, SC",45001,2,8.1
3,Primary and Secondary Syphilis,2017,"Abbeville County, SC",45001,1,4.1
4,Primary and Secondary Syphilis,2016,"Abbeville County, SC",45001,1,4.1

In [98]:
df_1.columns = df_1.columns.str.lower()
df_1.columns = df_1.columns.str.replace(' ','_')

In [99]:
df_1.loc[df_1["year"].str.startswith('2020',na=False), "year"] = "2020"

In [100]:
data_to_be_removed = ["cases","rate_per_100000"]

In [101]:
for col in data_to_be_removed:
    df_1.loc[df_1[col].str.contains("Data",na = False), col] = np.nan
    df_1[col] = df_1[col].str.replace(',','')
df_1[['cases','year','rate_per_100000']] = df_1[['cases','year','rate_per_100000']].apply(pd.to_numeric)

In [102]:
searchfor = ['Gonorrhea', 'Chlamydia']
df_1_refine = df_1[df_1.indicator.str.contains('|'.join(searchfor))]

In [103]:
df_1 = df_1_refine.pivot_table(index=['fips'], columns=['indicator','year']).reset_index()
# df.columns = df.columns.map('_'.join).str.strip('_')
df_1.head()

           fips     cases                                                   \
indicator       Chlamydia
year                 2000   2001   2002   2003   2004   2005   2006   2007
0          1001     139.0  110.0   72.0   95.0   86.0   97.0  183.0  184.0
1          1003     221.0  213.0  244.0  211.0  136.0  279.0  410.0  416.0
2          1005     152.0  113.0  114.0   94.0   97.0  130.0  186.0  165.0
3          1007      53.0   59.0   61.0   57.0   52.0   60.0   77.0   61.0
4          1009      31.0   22.0   38.0   36.0   27.0   17.0   64.0   48.0

                  ... rate_per_100000                                     \
indicator         ...       Gonorrhea
year        2008  ...            2011   2012   2013   2014   2015   2016
0          155.0  ...           105.0  103.7   96.8   87.4   71.1   65.2
1          395.0  ...            74.5   79.4   65.2   76.8   61.1   55.4
2          139.0  ...           204.8  220.8  233.9  194.4  209.3  143.4
3           65.0  ...            52.8   52.9  106.6   97.5   93.1  110.7
4           60.0  ...            26.1   13.9   12.1   10.4   13.9   40.0


indicator
year        2017   2018   2019   2020
0          128.2  169.3  229.1  241.6
1          115.3   96.9  103.0  118.7
2          894.4  546.8  550.9  376.7
3          181.8  299.5  254.5  366.2
4          100.4  129.8  150.5  160.8

[5 rows x 85 columns]

### Total Pop

In [104]:
df_pop = pd.read_csv("../Data/clean/nonACSDemographics/census_total_pop_2000_2010_clean.csv",index_col=0)

In [105]:
df_pop

        fips  year  total_pop
1       1001  2000      44021
2       1003  2000     141342
3       1005  2000      29015
4       1007  2000      19913
5       1009  2000      51107
...      ...   ...        ...
31935  56037  2009      44133
31936  56039  2009      21232
31937  56041  2009      21054
31938  56043  2009       8423
31939  56045  2009       7266

[31430 rows x 3 columns]

In [106]:
import glob
for f in glob.glob("../Data/clean/ACS/ACSDP05*"):
    df_pop = pd.concat([df_pop,pd.read_csv(f)[['fips','year','total_pop']]])

In [107]:
df_pop_1 = df_pop.pivot_table(index=['fips'], columns=['year']).reset_index()

In [108]:
df_pop_1.head()

      fips total_pop                                                    \
year            2000      2001      2002      2003      2004      2005
0     1001   44021.0   44889.0   45909.0   46800.0   48366.0   49676.0
1     1003  141342.0  144875.0  147957.0  151509.0  156266.0  162183.0
2     1005   29015.0   28863.0   28653.0   28594.0   28287.0   28027.0
3     1007   19913.0   21028.0   21199.0   21399.0   21721.0   22042.0
4     1009   51107.0   51845.0   52551.0   53457.0   54124.0   54624.0

                                    ...                                \
year      2006      2007      2008  ...      2011      2012      2013
0      51328.0   52405.0   53277.0  ...   53944.0   54590.0   54907.0
1     168121.0  172404.0  175827.0  ...  179523.0  183226.0  187114.0
2      27861.0   27757.0   27808.0  ...   27546.0   27469.0   27321.0
3      22099.0   22438.0   22705.0  ...   22746.0   22769.0   22754.0
4      55485.0   56240.0   57055.0  ...   57140.0   57466.0   57623.0


year      2014      2015      2016      2017      2018      2019      2020
0      55136.0   55221.0   55049.0   55036.0   55200.0   55380.0   55639.0
1     191205.0  195121.0  199510.0  203360.0  208107.0  212830.0  218289.0
2      27119.0   26932.0   26614.0   26201.0   25782.0   25361.0   25026.0
3      22653.0   22604.0   22572.0   22580.0   22527.0   22493.0   22374.0
4      57645.0   57710.0   57704.0   57667.0   57645.0   57681.0   57755.0

[5 rows x 22 columns]

### 2020 Covariates

In [109]:
df_2_1 = pd.read_csv('../Data/clean/ACS/ACSDP032020_clean.csv',index_col=0)

In [110]:
df_2_1.head()

,per_capita_income_2020,employment_pop_ratio,unemployment_rate,pct_ind_agriculture_forestry_fishing_and_hunting_and_mining,pct_ind_construction,pct_ind_manufacturing,pct_ind_wholesale_trade,pct_ind_retail_trade,pct_ind_transportation_and_warehousing_and_utilities,pct_ind_information,...,pct_ind_educational_services_and_health_care_and_social_assistance,pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services,pct_ind_other_services_except_public_administration,pct_ind_public_administration,health_insurance_rate,poverty_rate,id,geographic_area_name,year,fips
0,29804,55.4,2.9,0.8,7.5,11.1,3.2,10.7,5.7,1.1,...,20.4,8.4,5.0,10.7,92.0,15.2,0500000US01001,"Autauga County, Alabama",2020,1001
1,33751,55.8,3.9,1.8,8.0,9.7,2.7,13.6,5.1,1.1,...,19.3,9.9,5.0,5.3,90.5,9.2,0500000US01003,"Baldwin County, Alabama",2020,1003
2,20074,42.7,6.9,5.7,6.0,24.0,2.1,10.7,5.7,0.8,...,18.6,6.6,3.8,7.1,89.3,28.6,0500000US01005,"Barbour County, Alabama",2020,1005
3,22626,45.1,7.4,4.7,9.4,14.6,3.1,10.8,6.2,1.4,...,22.4,3.3,6.2,5.7,90.9,18.1,0500000US01007,"Bibb County, Alabama",2020,1007
4,25457,49.6,5.2,1.7,9.2,17.4,4.2,10.4,7.6,1.0,...,21.3,4.9,5.3,3.8,90.0,13.7,0500000US01009,"Blount County, Alabama",2020,1009

In [111]:
df_2_2 = pd.read_csv('../Data/clean/ACS/ACSDP052020_clean.csv',index_col = 0)

In [112]:
df_2_2.head()

,pct_sex_age_under_5,pct_sex_age_5_to_9,pct_sex_age_10_to_14,pct_sex_age_15_to_19,pct_sex_age_20_to_24,pct_sex_age_25_to_34,pct_sex_age_35_to_44,pct_sex_age_45_to_54,pct_sex_age_55_to_59,pct_sex_age_60_to_64,...,pct_one_or_more_race_native_american,pct_one_or_more_race_asian,pct_one_or_more_race_native_hawaiian_pacific_islander,pct_one_or_more_race_other_race,pct_ethnicity_hispanic,id,Geographic Area Name,year,total_pop,fips
0,5.8,6.7,6.6,6.7,6.2,12.7,13.1,14.0,7.4,5.5,...,0.8,1.9,0.0,1.3,2.9,0500000US01001,"Autauga County, Alabama",2020,55639,1001
1,5.5,5.3,6.9,6.0,5.1,11.2,12.1,13.1,7.0,7.4,...,1.5,1.4,0.3,2.3,4.6,0500000US01003,"Baldwin County, Alabama",2020,218289,1003
2,5.3,6.2,5.7,5.5,6.1,14.6,12.2,12.5,6.4,6.4,...,1.3,0.6,0.1,4.0,4.4,0500000US01005,"Barbour County, Alabama",2020,25026,1005
3,5.6,5.3,5.4,6.5,5.8,14.5,13.8,14.0,6.7,6.0,...,0.4,0.3,0.0,0.0,2.7,0500000US01007,"Bibb County, Alabama",2020,22374,1007
4,6.1,6.0,7.1,6.4,5.5,11.9,12.2,13.2,6.8,6.8,...,1.4,0.5,0.1,2.3,9.3,0500000US01009,"Blount County, Alabama",2020,57755,1009

### Final Merge

In [113]:
df_cov = pd.merge(df_2_2,df_2_1,on='fips')

In [124]:
df_1.columns = ['_'.join([str(value) for value in col]) for col in df_1.columns.values]

In [127]:
df_1 = df_1.rename( columns= { 'fips__' : 'fips'})

In [128]:
df = pd.merge(df_1,df_pop_1,on='fips')

/var/folders/zl/tww5174129gdj_kds5bh2xx80000gn/T/ipykernel_30099/3272554473.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  df = pd.merge(df_1,df_pop_1,on='fips')
/var/folders/zl/tww5174129gdj_kds5bh2xx80000gn/T/ipykernel_30099/3272554473.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df = pd.merge(df_1,df_pop_1,on='fips')

In [130]:
df

,fips,cases_Chlamydia_2000,cases_Chlamydia_2001,cases_Chlamydia_2002,cases_Chlamydia_2003,cases_Chlamydia_2004,cases_Chlamydia_2005,cases_Chlamydia_2006,cases_Chlamydia_2007,cases_Chlamydia_2008,...,"(total_pop, 2011)","(total_pop, 2012)","(total_pop, 2013)","(total_pop, 2014)","(total_pop, 2015)","(total_pop, 2016)","(total_pop, 2017)","(total_pop, 2018)","(total_pop, 2019)","(total_pop, 2020)"
0,1001,139.0,110.0,72.0,95.0,86.0,97.0,183.0,184.0,155.0,...,53944.0,54590.0,54907.0,55136.0,55221.0,55049.0,55036.0,55200.0,55380.0,55639.0
1,1003,221.0,213.0,244.0,211.0,136.0,279.0,410.0,416.0,395.0,...,179523.0,183226.0,187114.0,191205.0,195121.0,199510.0,203360.0,208107.0,212830.0,218289.0
2,1005,152.0,113.0,114.0,94.0,97.0,130.0,186.0,165.0,139.0,...,27546.0,27469.0,27321.0,27119.0,26932.0,26614.0,26201.0,25782.0,25361.0,25026.0
3,1007,53.0,59.0,61.0,57.0,52.0,60.0,77.0,61.0,65.0,...,22746.0,22769.0,22754.0,22653.0,22604.0,22572.0,22580.0,22527.0,22493.0,22374.0
4,1009,31.0,22.0,38.0,36.0,27.0,17.0,64.0,48.0,60.0,...,57140.0,57466.0,57623.0,57645.0,57710.0,57704.0,57667.0,57645.0,57681.0,57755.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3209,72145,0.0,0.0,0.0,0.0,0.0,0.0,49.0,116.0,100.0,...,59995.0,59444.0,58782.0,57915.0,56858.0,55866.0,54754.0,53371.0,52192.0,51089.0
3210,72147,0.0,0.0,0.0,0.0,0.0,0.0,32.0,24.0,21.0,...,9318.0,9293.0,9273.0,9217.0,9130.0,9046.0,8931.0,8771.0,8642.0,8508.0
3211,72149,0.0,0.0,0.0,0.0,0.0,0.0,21.0,60.0,32.0,...,26290.0,25983.0,25618.0,25196.0,24685.0,24186.0,23659.0,22993.0,22403.0,21899.0
3212,72151,0.0,0.0,0.0,0.0,0.0,0.0,52.0,66.0,69.0,...,38138.0,37823.0,37404.0,36903.0,36279.0,35670.0,35025.0,34149.0,33499.0,32867.0
3213,72153,0.0,0.0,0.0,0.0,0.0,0.0,14.0,72.0,43.0,...,42516.0,41876.0,41194.0,40391.0,39474.0,38519.0,37585.0,36439.0,35428.0,34501.0

In [131]:
df_final = pd.merge(df,df_cov,on = 'fips')

In [132]:
df_final.head()

,fips,cases_Chlamydia_2000,cases_Chlamydia_2001,cases_Chlamydia_2002,cases_Chlamydia_2003,cases_Chlamydia_2004,cases_Chlamydia_2005,cases_Chlamydia_2006,cases_Chlamydia_2007,cases_Chlamydia_2008,...,pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services,pct_ind_educational_services_and_health_care_and_social_assistance,pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services,pct_ind_other_services_except_public_administration,pct_ind_public_administration,health_insurance_rate,poverty_rate,id_y,geographic_area_name,year_y
0,1001,139.0,110.0,72.0,95.0,86.0,97.0,183.0,184.0,155.0,...,9.8,20.4,8.4,5.0,10.7,92.0,15.2,0500000US01001,"Autauga County, Alabama",2020
1,1003,221.0,213.0,244.0,211.0,136.0,279.0,410.0,416.0,395.0,...,10.7,19.3,9.9,5.0,5.3,90.5,9.2,0500000US01003,"Baldwin County, Alabama",2020
2,1005,152.0,113.0,114.0,94.0,97.0,130.0,186.0,165.0,139.0,...,5.1,18.6,6.6,3.8,7.1,89.3,28.6,0500000US01005,"Barbour County, Alabama",2020
3,1007,53.0,59.0,61.0,57.0,52.0,60.0,77.0,61.0,65.0,...,7.0,22.4,3.3,6.2,5.7,90.9,18.1,0500000US01007,"Bibb County, Alabama",2020
4,1009,31.0,22.0,38.0,36.0,27.0,17.0,64.0,48.0,60.0,...,7.5,21.3,4.9,5.3,3.8,90.0,13.7,0500000US01009,"Blount County, Alabama",2020

In [133]:
df_final

,fips,cases_Chlamydia_2000,cases_Chlamydia_2001,cases_Chlamydia_2002,cases_Chlamydia_2003,cases_Chlamydia_2004,cases_Chlamydia_2005,cases_Chlamydia_2006,cases_Chlamydia_2007,cases_Chlamydia_2008,...,pct_ind_professional_scientific_and_management_and_administrative_and_waste_management_services,pct_ind_educational_services_and_health_care_and_social_assistance,pct_ind_arts_entertainment_and_recreation_and_accommodation_and_food_services,pct_ind_other_services_except_public_administration,pct_ind_public_administration,health_insurance_rate,poverty_rate,id_y,geographic_area_name,year_y
0,1001,139.0,110.0,72.0,95.0,86.0,97.0,183.0,184.0,155.0,...,9.8,20.4,8.4,5.0,10.7,92.0,15.2,0500000US01001,"Autauga County, Alabama",2020
1,1003,221.0,213.0,244.0,211.0,136.0,279.0,410.0,416.0,395.0,...,10.7,19.3,9.9,5.0,5.3,90.5,9.2,0500000US01003,"Baldwin County, Alabama",2020
2,1005,152.0,113.0,114.0,94.0,97.0,130.0,186.0,165.0,139.0,...,5.1,18.6,6.6,3.8,7.1,89.3,28.6,0500000US01005,"Barbour County, Alabama",2020
3,1007,53.0,59.0,61.0,57.0,52.0,60.0,77.0,61.0,65.0,...,7.0,22.4,3.3,6.2,5.7,90.9,18.1,0500000US01007,"Bibb County, Alabama",2020
4,1009,31.0,22.0,38.0,36.0,27.0,17.0,64.0,48.0,60.0,...,7.5,21.3,4.9,5.3,3.8,90.0,13.7,0500000US01009,"Blount County, Alabama",2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3208,72145,0.0,0.0,0.0,0.0,0.0,0.0,49.0,116.0,100.0,...,9.5,23.6,10.0,6.2,7.1,90.4,45.7,0500000US72145,"Vega Baja Municipio, Puerto Rico",2020
3209,72147,0.0,0.0,0.0,0.0,0.0,0.0,32.0,24.0,21.0,...,10.1,18.7,13.3,4.2,20.7,84.6,52.6,0500000US72147,"Vieques Municipio, Puerto Rico",2020
3210,72149,0.0,0.0,0.0,0.0,0.0,0.0,21.0,60.0,32.0,...,8.1,23.9,5.6,4.4,12.7,96.5,46.4,0500000US72149,"Villalba Municipio, Puerto Rico",2020
3211,72151,0.0,0.0,0.0,0.0,0.0,0.0,52.0,66.0,69.0,...,9.0,21.4,10.4,3.6,7.0,94.4,51.7,0500000US72151,"Yabucoa Municipio, Puerto Rico",2020
3212,72153,0.0,0.0,0.0,0.0,0.0,0.0,14.0,72.0,43.0,...,6.0,27.1,7.8,4.3,13.6,94.1,48.9,0500000US72153,"Yauco Municipio, Puerto Rico",2020

In [ ]:
df_final.to_csv('../Data')