In [1]:
import pandas as pd
import numpy as np
import gdown
import os
url = 'https://drive.google.com/file/d/1-kVoTDLc0mvTbGYrGyNRV0RsOxAGEf7m/view?usp=sharing'
output = '../Data/Raw/ACS/acs_ipums.csv'

In [2]:
gdown.download(url=url, output=output, quiet=False, fuzzy=True)

Downloading...
From: https://drive.google.com/uc?id=1-kVoTDLc0mvTbGYrGyNRV0RsOxAGEf7m
To: C:\Users\FPSKINSMANC\Dropbox (University of Michigan)\bdsi22dataminingsti\Data\Raw\ACS\acs_ipums.csv
100%|█████████████████████████████████████████████████████████████████████████████| 2.24G/2.24G [01:13<00:00, 30.4MB/s]

'../Data/Raw/ACS/acs_ipums.csv'

In [6]:
df = pd.read_csv(output, sep=',', nrows = 1000)
df.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,COUNTYFIP,DENSITY,METRO,...,EMPSTATD,LABFORCE,CLASSWKR,CLASSWKRD,OCC,IND,INCTOT,INCWAGE,VETSTAT,VETSTATD
0,2016,201601,1,64,97.0,2016000000011,1,0,112.8,1,...,30,1,0,0,0,0,22510,0,1,11
1,2016,201601,1,64,97.0,2016000000011,1,0,112.8,1,...,30,1,0,0,0,0,14100,0,1,11
2,2016,201601,2,80,95.0,2016000000021,1,55,357.1,4,...,10,2,2,22,5700,8190,45800,27300,1,11
3,2016,201601,3,107,159.0,2016000000031,1,0,1918.1,2,...,10,2,2,22,1550,7290,65000,65000,1,13
4,2016,201601,3,107,159.0,2016000000031,1,0,1918.1,2,...,30,1,0,0,0,0,0,0,1,11

In [8]:
df.rename(columns = str.lower, inplace = True)
df.dtypes

year           int64
sample         int64
serial         int64
cbserial       int64
hhwt         float64
cluster        int64
statefip       int64
countyfip      int64
density      float64
metro          int64
strata         int64
gq             int64
pernum         int64
perwt        float64
race           int64
raced          int64
hispan         int64
hispand        int64
citizen        int64
hcovany        int64
hcovpriv       int64
hcovpub        int64
hinscaid       int64
hinscare       int64
school         int64
educ           int64
educd          int64
empstat        int64
empstatd       int64
labforce       int64
classwkr       int64
classwkrd      int64
occ            int64
ind            int64
inctot         int64
incwage        int64
vetstat        int64
vetstatd       int64
dtype: object

In [ ]:
var = [1, 2, 3, 4, 5, 'strata', 'gq', 'pernum', 'perwt', 'educd']
df = df[]