In [135]:
import pandas as pd
import numpy as np
import os
from functools import reduce
from tabulate import tabulate

In [136]:
total = []
folder = '../Data/Clean'
print(os.getcwd())
for dirs in os.listdir(folder):
    if not dirs.endswith(('.txt', 'checkpoints', 'HPS', 'ACS', 'USAFacts', 'graphics', 'ility')):
        #print(dirs)
        for files in os.listdir(os.path.join(folder,dirs)):
            if not files.endswith(('.txt', 'checkpoints', 'STD2019_2020_clean.csv')):
                k = pd.read_csv(os.path.join(folder,(os.path.join(dirs,files))), sep = ',', index_col = 0)
                total.append(k)
                print(os.path.join(folder, os.path.join(dirs, files)))
                print(k.shape)
    
folder2 = '../Data/Intermediate'
for files2 in os.listdir(folder2):
    if not (files2.endswith(('.txt', 'checkpoints', 'hps_processed.csv'))):
        l = pd.read_csv(os.path.join(folder2,files2), sep = ',', index_col = 0)
        total.append(l)
        print(files2)
        print(l.shape)

/Users/dawsonkinsman/Dropbox (University of Michigan)/bdsi22dataminingsti/Notebooks
../Data/Clean/CDC/disagRaceSexHIV2017_2020_clean.csv
(9980, 27)
../Data/Clean/CDC/CDCSTDagesex20192020_clean.csv
(6191, 171)
../Data/Clean/CDC/HIVcountyage_clean.csv
(10878, 63)
../Data/Clean/CDC/HIV_Diagnoses_Prevalence_2008-2021_clean.csv
(42737, 7)
CDCSTDoverall2000_2020_processed.csv
(67586, 130)
COVIDcounty_cases_processed.csv
(9426, 4)
ACSDP03_merge.csv
(35425, 31)
ACSDP05_merge.csv
(35425, 42)
saipe0010.csv
(32280, 14)

In [137]:
for index, i in enumerate(total):
    if 'year' in i.columns:
        if 'geography' in i.columns:
            i.drop(columns = 'geography', inplace = True)
            print('Done')
        if 'county_name' in i.columns:
            i.drop(columns = 'county_name' , inplace = True)
            print('done')

Done
Done
Done
Done
done

In [138]:
len(total)

9

In [139]:
cov = total[0].columns.intersection(total[1].columns)
df = pd.merge(total[0], total[1], on = cov.to_list(), how = 'outer')

for index, i in enumerate(total[2:7]):
    cov = df.columns.intersection(i.columns)
    df = pd.merge(df,i,on = cov.to_list(), how = 'outer')
    #print(i , '\n', df[df['fips'] == 45001].loc[:,'year':].sort_values(by = 'year'))
    print(i.shape)

(10878, 62)
(42737, 6)
(67586, 130)
(9426, 3)
(35425, 31)

In [140]:
df[df['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

,year,fips,cases_female_hiv_diagnoses,cases_female_hiv_prevalence,cases_female_hiv_viral_suppression,cases_female_linkage_to_hiv_care,cases_female_prep_coverage_and_number_of_persons_prescribed,cases_female_receipt_of_hiv_medical_care,cases_male_hiv_diagnoses,cases_male_hiv_prevalence,...,per_capita_income_2017,per_capita_income_2011,per_capita_income_2014,pct_employment_status!!population_16_years_and_over!!in_labor_force!!civilian_labor_force!!unemployed,per_capita_income_2019,per_capita_income_2012,per_capita_income_2015,per_capita_income_2020,per_capita_income_2018,per_capita_income_2013
43148,2000.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46366,2001.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49584,2002.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52802,2003.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56020,2004.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59238,2005.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62456,2006.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65674,2007.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11993,2008.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15089,2009.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18195,2010.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21311,2011.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24454,2012.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17876.0,NaN,NaN,NaN,NaN
27597,2013.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.9,NaN,NaN,NaN,NaN,NaN,18134.0
30730,2014.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,18303.0,6.6,NaN,NaN,NaN,NaN,NaN,NaN
33869,2015.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18112.0,NaN,NaN,NaN
37009,2016.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2017.0,45001,0.0,12.0,NaN,NaN,NaN,NaN,0.0,36.0,...,19234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2480,2018.0,45001,NaN,11.0,NaN,NaN,NaN,NaN,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21185.0,NaN
4966,2019.0,45001,0.0,13.0,9.0,0.0,NaN,10.0,0.0,41.0,...,NaN,NaN,NaN,NaN,22646.0,NaN,NaN,NaN,NaN,NaN
7583,2020.0,45001,NaN,13.0,6.0,NaN,NaN,7.0,NaN,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25598.0,NaN,NaN
73039,2021.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73040,2022.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
print(total[8].dtypes)
print(total[8].shape)
print(total[7].dtypes)
print(total[7].shape)
print(df.dtypes)

fips                        int64
year                        int64
employed_persons          float64
unemployment_rate         float64
total_pop                 float64
poverty_rate              float64
per_capita_income_2007    float64
per_capita_income_2006    float64
per_capita_income_2005    float64
per_capita_income_2008    float64
per_capita_income_2003    float64
per_capita_income_2004    float64
per_capita_income_2009    float64
per_capita_income_2002    float64
dtype: object
(32280, 14)
pct_one_or_more_race                                       int64
pct_one_or_more_race_white                               float64
pct_one_or_more_race_black                               float64
pct_one_or_more_race_native_american                     float64
pct_one_or_more_race_asian                               float64
pct_one_or_more_race_native_hawaiian_pacific_islander    float64
pct_one_or_more_race_other_race                          float64
pct_ethnicity_hispanic                                   float64
pct_sex_age_under_5                                      float64
pct_sex_age_5_to_9                                       float64
pct_sex_age_10_to_14                                     float64
pct_sex_age_15_to_19                                     float64
pct_sex_age_20_to_24                                     float64
pct_sex_age_25_to_34                                     float64
pct_sex_age_35_to_44                                     float64
pct_sex_age_45_to_54                                     float64
pct_sex_age_55_to_59                                     float64
pct_sex_age_60_to_64                                     float64
pct_sex_age_65_to_74                                     float64
pct_sex_age_75_to_84                                     float64
pct_sex_age_85+                                          float64
median_age                                               float64
pct_sex_age_16+                                          float64
pct_sex_age_18+                                          float64
pct_sex_age_21+                                          float64
pct_sex_age_62+                                          float64
pct_sex_age_65+                                          float64
pct_sex_age_18+_male                                     float64
pct_sex_age_18+_female                                   float64
pct_sex_age_65+_male                                     float64
pct_sex_age_65+_female                                   float64
year                                                       int64
total_pop                                                  int64
fips                                                       int64
pct_sex_age_male                                         float64
pct_sex_age_female                                       float64
pct_white                                                float64
pct_black                                                float64
pct_native_american                                      float64
pct_asian                                                float64
pct_native_hawaiian_pacific_islander                     float64
pct_other_race                                           float64
dtype: object
(35425, 42)
year                                  float64
fips                                    int64
cases_female_hiv_diagnoses            float64
cases_female_hiv_prevalence           float64
cases_female_hiv_viral_suppression    float64
                                       ...
per_capita_income_2012                float64
per_capita_income_2015                float64
per_capita_income_2020                float64
per_capita_income_2018                float64
per_capita_income_2013                float64
Length: 416, dtype: object

In [142]:
covt = total[7].columns.intersection(total[8].columns)
print(covt)
dft = pd.merge(total[7], total[8], on = covt.to_list(), how = 'outer')
print(dft.columns)
dft.year = dft.year.astype('int64')
dft[dft['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

Index(['year', 'total_pop', 'fips'], dtype='object')
Index(['pct_one_or_more_race', 'pct_one_or_more_race_white',
       'pct_one_or_more_race_black', 'pct_one_or_more_race_native_american',
       'pct_one_or_more_race_asian',
       'pct_one_or_more_race_native_hawaiian_pacific_islander',
       'pct_one_or_more_race_other_race', 'pct_ethnicity_hispanic',
       'pct_sex_age_under_5', 'pct_sex_age_5_to_9', 'pct_sex_age_10_to_14',
       'pct_sex_age_15_to_19', 'pct_sex_age_20_to_24', 'pct_sex_age_25_to_34',
       'pct_sex_age_35_to_44', 'pct_sex_age_45_to_54', 'pct_sex_age_55_to_59',
       'pct_sex_age_60_to_64', 'pct_sex_age_65_to_74', 'pct_sex_age_75_to_84',
       'pct_sex_age_85+', 'median_age', 'pct_sex_age_16+', 'pct_sex_age_18+',
       'pct_sex_age_21+', 'pct_sex_age_62+', 'pct_sex_age_65+',
       'pct_sex_age_18+_male', 'pct_sex_age_18+_female',
       'pct_sex_age_65+_male', 'pct_sex_age_65+_female', 'year', 'total_pop',
       'fips', 'pct_sex_age_male', 'pct_sex_age_female', 'pct_white',
       'pct_black', 'pct_native_american', 'pct_asian',
       'pct_native_hawaiian_pacific_islander', 'pct_other_race',
       'employed_persons', 'unemployment_rate', 'poverty_rate',
       'per_capita_income_2007', 'per_capita_income_2006',
       'per_capita_income_2005', 'per_capita_income_2008',
       'per_capita_income_2003', 'per_capita_income_2004',
       'per_capita_income_2009', 'per_capita_income_2002'],
      dtype='object')

,year,total_pop,fips,pct_sex_age_male,pct_sex_age_female,pct_white,pct_black,pct_native_american,pct_asian,pct_native_hawaiian_pacific_islander,...,unemployment_rate,poverty_rate,per_capita_income_2007,per_capita_income_2006,per_capita_income_2005,per_capita_income_2008,per_capita_income_2003,per_capita_income_2004,per_capita_income_2009,per_capita_income_2002
37745,2000,26229.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40969,2001,26330.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44193,2002,26311.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.5,13.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31244.0
47417,2003,26306.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.5,13.6,NaN,NaN,NaN,NaN,30578.0,NaN,NaN,NaN
50641,2004,26235.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.9,15.1,NaN,NaN,NaN,NaN,NaN,31362.0,NaN,NaN
53865,2005,25995.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.4,19.2,NaN,NaN,32486.0,NaN,NaN,NaN,NaN,NaN
57089,2006,25821.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.4,18.1,NaN,34610.0,NaN,NaN,NaN,NaN,NaN,NaN
60313,2007,25745.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.7,17.4,35993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63537,2008,25699.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.6,17.6,NaN,NaN,NaN,36041.0,NaN,NaN,NaN,NaN
66761,2009,25614.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.4,19.7,NaN,NaN,NaN,NaN,NaN,NaN,33995.0,NaN
34520,2010,25643.0,45001,48.4,51.6,71.0,28.8,0.6,0.3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28079,2011,25515.0,45001,48.9,51.1,70.4,29.8,0.6,0.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21638,2012,25387.0,45001,48.6,51.4,71.6,29.2,0.5,0.1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11977,2013,25233.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18418,2014,25100.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5536,2015,24997.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31300,2016,24951.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24859,2017,24788.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2316,2018,24657.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15198,2019,24627.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8757,2020,24582.0,45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
fin = df.combine_first(dft).sort_values(by = ['fips', 'year']).loc[:,:'year']
fin.year = fin.year.astype('int64')
col = fin.columns.to_list()
col.remove('year')
col.remove( 'fips')
col = ['year', 'fips'] + col
#print(col)
fin = fin[col].reset_index(drop=True)
fin.head(30)

,year,fips,cases_13-24_HIV diagnoses,cases_13-24_HIV prevalence,cases_13-24_HIV viral suppression,cases_13-24_Linkage to HIV care,cases_13-24_PrEP coverage and number of persons prescribed,cases_13-24_Receipt of HIV medical care,cases_25-34_HIV diagnoses,cases_25-34_HIV prevalence,...,rateper100000_male_primary and secondary syphilis_20_24,rateper100000_male_primary and secondary syphilis_25_29,rateper100000_male_primary and secondary syphilis_30_34,rateper100000_male_primary and secondary syphilis_35_39,rateper100000_male_primary and secondary syphilis_40_44,rateper100000_male_primary and secondary syphilis_45_54,rateper100000_male_primary and secondary syphilis_55_64,rateper100000_male_primary and secondary syphilis_65+,total_pop,unemployment_rate
0,2000,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9942.0,3.7
1,2001,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200076.0,6.1
2,2002,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4259.0,7.7
3,2003,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13639.0,5.6
4,2004,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8884.0,3.9
5,2005,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9651.0,8.1
6,2006,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4128.0,6.0
7,2007,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16294.0,13.3
8,2008,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35596.0,NaN
9,2009,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,635737.0,NaN
10,2010,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74767.0,4.0
11,2011,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,535626.0,4.8
12,2012,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2971.0,5.4
13,2013,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77035.0,NaN
14,2014,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49667.0,NaN
15,2015,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122158.0,7.6
16,2016,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2146.0,5.6
17,2017,1001,5.0,7.0,NaN,NaN,NaN,NaN,NaN,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6474.0,5.2
18,2018,1001,NaN,5.0,NaN,NaN,NaN,NaN,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,944350.0,4.2
19,2019,1001,NaN,5.0,5.0,NaN,NaN,6.0,NaN,21.0,...,61.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1428357.0,3.7
20,2020,1001,NaN,8.0,5.0,NaN,NaN,5.0,NaN,20.0,...,0.0,53.8,57.8,0.0,0.0,26.8,28.9,25.6,11212.0,2.9
21,2021,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2022,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49977.0,4.0
24,2001,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21821.0,4.3
25,2002,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139788.0,4.5
26,2003,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9520.0,3.1
27,2004,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11138.0,3.9
28,2005,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139369.0,3.8
29,2006,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33267.0,7.5

In [147]:
for index, n in enumerate(fin.columns):
    if fin[n].dtypes != 'float64':
        print('index: ', index, '    ', n, ':    ', fin[n].dtypes)
print(fin.shape)
#list(fin.dtypes)

index:  0      year :     int64
index:  1      fips :     int64
(74244, 465)

In [156]:
fin = fin[(fin['year'] >= 2002) & (fin['year'] <= 2020)].reset_index(drop = True)
fin.head(30)

,year,fips,cases_13-24_HIV diagnoses,cases_13-24_HIV prevalence,cases_13-24_HIV viral suppression,cases_13-24_Linkage to HIV care,cases_13-24_PrEP coverage and number of persons prescribed,cases_13-24_Receipt of HIV medical care,cases_25-34_HIV diagnoses,cases_25-34_HIV prevalence,...,rateper100000_male_primary and secondary syphilis_20_24,rateper100000_male_primary and secondary syphilis_25_29,rateper100000_male_primary and secondary syphilis_30_34,rateper100000_male_primary and secondary syphilis_35_39,rateper100000_male_primary and secondary syphilis_40_44,rateper100000_male_primary and secondary syphilis_45_54,rateper100000_male_primary and secondary syphilis_55_64,rateper100000_male_primary and secondary syphilis_65+,total_pop,unemployment_rate
0,2002,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4259.0,7.7
1,2003,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13639.0,5.6
2,2004,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8884.0,3.9
3,2005,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9651.0,8.1
4,2006,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4128.0,6.0
5,2007,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16294.0,13.3
6,2008,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35596.0,NaN
7,2009,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,635737.0,NaN
8,2010,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74767.0,4.0
9,2011,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,535626.0,4.8
10,2012,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2971.0,5.4
11,2013,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77035.0,NaN
12,2014,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49667.0,NaN
13,2015,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122158.0,7.6
14,2016,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2146.0,5.6
15,2017,1001,5.0,7.0,NaN,NaN,NaN,NaN,NaN,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6474.0,5.2
16,2018,1001,NaN,5.0,NaN,NaN,NaN,NaN,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,944350.0,4.2
17,2019,1001,NaN,5.0,5.0,NaN,NaN,6.0,NaN,21.0,...,61.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1428357.0,3.7
18,2020,1001,NaN,8.0,5.0,NaN,NaN,5.0,NaN,20.0,...,0.0,53.8,57.8,0.0,0.0,26.8,28.9,25.6,11212.0,2.9
19,2002,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139788.0,4.5
20,2003,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9520.0,3.1
21,2004,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11138.0,3.9
22,2005,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139369.0,3.8
23,2006,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33267.0,7.5
24,2007,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36662.0,9.7
25,2008,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38502.0,NaN
26,2009,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186095.0,NaN
27,2010,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49325.0,3.9
28,2011,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55795.0,4.6
29,2012,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3883.0,5.1

In [157]:
print(fin['fips'].nunique())
print(fin['year'].unique())
print(fin.shape)

3227
[2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020]
(61484, 465)

In [164]:
print(fin[fin['year']==2018]['fips'].value_counts())

30037    16
48117     8
1001      1
40039     1
40021     1
         ..
21163     1
21165     1
21167     1
21169     1
72153     1
Name: fips, Length: 3222, dtype: int64

In [158]:
fin.to_csv('../Data/Final/STI0220_cov0220.csv')

covf = dft.columns.intersection(df.columns).to_list()
print(covf)

for index, n in enumerate(df.columns):
    if df[n].dtypes != 'float64':
        print('index: ', index, '    ', n, ':    ', fin[n].dtypes)
        
for index, n in enumerate(dft.columns):
    if dft[n].dtypes != 'float64':
        print('index: ', index, '    ', n, ':    ', fin[n].dtypes)
#dff = pd.merge(dft, df, on = covf, how = 'outer')
#dff['year'] = dff['year'].astype('int64')
#dff[dff['fips'] == 45001].loc[:,'year':].sort_values(by = 'year')

for index, col in enumerate(df[covf]):
    if col == 'year':
        df['year'] = df['year'].astype('int64')
        print(df['year'].dtypes)
    if df.loc[index,col] == dft.loc[index,col]:
        print(index, col)
    print(df[col].dtypes, ':   ', dft[col].dtypes)

#t1 = df[df['fips'] == 45001].loc[:,['year', 'fips']].sort_values(by = 'year')
t1 = df[df['fips'] == 45001].sort_values(by = 'year')
t1['year'] = t1['year'].astype('int64')
t2 = dft[dft['fips'] == 45001].loc[:,['year','fips', 'poverty_rate']].sort_values(by = 'year')

covt = t1.columns.intersection(t2.columns)
dfft = pd.merge(df,dft,on = covt.to_list(), how = 'outer')
#dfft.sort_values(by = 'year')
#print(t1.head(20))
#print(t2.head(20))
dfft