In [72]:
import pandas as pd
import numpy as np
import glob

In [73]:
tot_df = []
# for j,i in enumerate(np.arange(2016, 2021, 1)):

for f in glob.glob("../Data/Raw/HPS/*.csv") :
    tot_df.append(pd.read_csv(f, skiprows = 3))
df = pd.concat(tot_df, axis = 0)

In [74]:
df.head()

,Week,Area,Total Population age 18+,Measure Universe,Number,Margin of Error +/-,Percent,MOE +/-
0,9,United States,249170916.0,224696243.0,93226987.0,1473584.0,41.5,0.6
1,9,Alabama,3717378.0,3259291.0,1275813.0,125056.0,39.1,3.7
2,9,Alaska,524925.0,481229.0,219225.0,18656.0,45.6,3.8
3,9,Arizona,5597268.0,5011175.0,2397147.0,189511.0,47.8,3.4
4,9,Arkansas,2246527.0,2007590.0,912633.0,94893.0,45.5,4.8

In [75]:
pd.unique(df.Area)

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming',
       'Atlanta-Sandy Springs-Alpharetta, GA Metro Area',
       'Boston-Cambridge-Newton, MA-NH Metro Area',
       'Chicago-Naperville-Elgin, IL-IN-WI Metro Area',
       'Dallas-Fort Worth-Arlington, TX Metro Area',
       'Detroit-Warren-Dearborn, MI Metro Area',
       'Houston-The Woodlands-Sugar Land, TX Metro Area',
       'Los Angeles-Long Beach-Anaheim, CA Metro Area',
       'Miami-Fort Lauderdale-Pompano Beach, FL Metro Area',
       'New York-Newark-Jersey City, NY-NJ-PA Metro Area',
       'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Metro Area',
       'Phoenix-Mesa-Chandler, AZ Metro Area',
       'Riverside-San Bernardino-Ontario, CA Metro Area',
       'San Francisco-Oakland-Berkeley, CA Metro Area',
       'Seattle-Tacoma-Bellevue, WA Metro Area',
       'Washington-Arlington-Alexandria, DC-VA-MD-WV Metro Area', nan],
      dtype=object)

In [76]:
us_states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming']

In [77]:
len(us_states)

51

In [78]:
df = df.loc[df.Area.isin(us_states)]

In [79]:
df.head()

,Week,Area,Total Population age 18+,Measure Universe,Number,Margin of Error +/-,Percent,MOE +/-
1,9,Alabama,3717378.0,3259291.0,1275813.0,125056.0,39.1,3.7
2,9,Alaska,524925.0,481229.0,219225.0,18656.0,45.6,3.8
3,9,Arizona,5597268.0,5011175.0,2397147.0,189511.0,47.8,3.4
4,9,Arkansas,2246527.0,2007590.0,912633.0,94893.0,45.5,4.8
5,9,California,29939021.0,26957069.0,11039544.0,557812.0,41.0,1.9

In [80]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns = { "total_population_age_18+" : "total_population_age_18"})

In [81]:
df[['week','total_population_age_18','number','percent','measure_universe']] = df[['week','total_population_age_18','number','percent','measure_universe']].apply(pd.to_numeric)

In [82]:
df = df.sort_values(by= "week")

In [83]:
df = df.drop(['margin_of_error_+/-','moe_+/-'],axis = 1)

In [86]:
df.head()

,week,area,total_population_age_18,measure_universe,number,percent,year
51,1,Wyoming,433400.0,402567.0,132781.0,33.0,2020
27,1,Montana,822204.0,756801.0,304322.0,40.2,2020
28,1,Nebraska,1418191.0,1307022.0,469750.0,35.9,2020
29,1,Nevada,2399457.0,2196353.0,912002.0,41.5,2020
30,1,New Hampshire,1073014.0,977491.0,369968.0,37.8,2020

In [85]:
df['year'] = 2020

In [87]:
df.to_csv("../Data/clean/HPS/hps_clean.csv")