In [21]:
import pandas as pd
import numpy as np
import os
from functools import reduce

In [19]:
total = []
folder = '../Data/Clean'
for path, subdirs, files in os.walk(folder):
    for name in files:
        if not name.endswith('.txt'):
            total.append(pd.DataFrame(pd.read_csv(os.path.join(path,name),
                                                  sep = ',', index_col = 0)))
            print(name)

COVIDcounty_cases_clean.csv
ACSDP032019_clean.csv
ACSDP032020_clean.csv
ACSDP052016_clean.csv
ACSDP052017_clean.csv
ACSDP052018_clean.csv
ACSDP052019_clean.csv
ACSDP052020_clean.csv
CDCSTDoverall2000_2020_clean.csv
disagRaceSexHIV2017_2020_clean.csv
disagRaceSexSTD2019_2020clean.csv
HIVcountyage_clean.csv

In [14]:
for i in total:
    print(i.shape)

(9579, 6)
(3220, 22)
(3221, 22)
(3220, 35)
(3220, 36)
(3220, 36)
(3220, 36)
(3221, 36)
(67578, 130)
(9980, 26)
(6189, 122)
(10878, 63)

In [15]:
hiv = total[-1]
del(total[-1])
for i in total:
    print(i.shape)
print(hiv.shape)

(9579, 6)
(3220, 22)
(3221, 22)
(3220, 35)
(3220, 36)
(3220, 36)
(3220, 36)
(3221, 36)
(67578, 130)
(9980, 26)
(6189, 122)
(10878, 63)

In [35]:
df_part1, df_part2, df_part3 = [], [], []

for index, i in enumerate(total):
    if (index % 2 == 0 & index <= 10):
        df_part1.append(pd.merge(i, total[index+1], how = 'outer', on = ['fips', 'year']))
for index, i in enumerate(df_part1):
    if (index % 2 == 0 & index <= 4):
        df_part2.append(pd.merge(i, df_part1[index+1], how = 'outer', on =['fips', 'year']))
for index, i in enumerate(df_part2):
    if (index == 0):
        df_part3.append(pd.merge(i, df_part2[1], how = 'outer', on =['fips', 'year']))
    else: 
        df_part3.append(df_part2[-1])
        
df_tot = pd.merge(df_part3[0], df_part3[1], how = 'outer', on = ['fips', 'year'])

In [41]:
df5 = df_tot.groupby(by='year')
df5.describe()

        fips                                                                 \
       count          mean           std     min      25%      50%      75%
year
2000  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2001  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2002  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2003  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2004  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2005  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2006  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2007  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2008  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2009  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2010  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2011  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2012  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2013  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2014  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2015  3218.0  31411.666252  16280.711828  1001.0  19035.5  30026.0  46106.5
2016  3224.0  31380.296216  16300.810438  1001.0  19030.5  30024.0  46105.5
2017  3232.0  31388.159344  16286.042675  1001.0  19034.5  30032.0  46105.5
2018  3232.0  31388.159344  16286.042675  1001.0  19034.5  30032.0  46105.5
2019  3244.0  31405.454686  16266.626136  1001.0  19040.5  30037.0  46107.5
2020  3297.0  30901.857446  16609.585702     0.0  18145.0  29223.0  46083.0
2021  3193.0  29898.348262  15515.884232     0.0  18101.0  29125.0  45055.0
2022  3193.0  29898.348262  15515.884232     0.0  18101.0  29125.0  45055.0

              statefips             ... ratePer100000_55+_HIV diagnoses        \
          max     count       mean  ...                             75%   max
year                                ...
2000  72153.0       0.0        NaN  ...                             NaN   NaN
2001  72153.0       0.0        NaN  ...                             NaN   NaN
2002  72153.0       0.0        NaN  ...                             NaN   NaN
2003  72153.0       0.0        NaN  ...                             NaN   NaN
2004  72153.0       0.0        NaN  ...                             NaN   NaN
2005  72153.0       0.0        NaN  ...                             NaN   NaN
2006  72153.0       0.0        NaN  ...                             NaN   NaN
2007  72153.0       0.0        NaN  ...                             NaN   NaN
2008  72153.0       0.0        NaN  ...                             NaN   NaN
2009  72153.0       0.0        NaN  ...                             NaN   NaN
2010  72153.0       0.0        NaN  ...                             NaN   NaN
2011  72153.0       0.0        NaN  ...                             NaN   NaN
2012  72153.0       0.0        NaN  ...                             NaN   NaN
2013  72153.0       0.0        NaN  ...                             NaN   NaN
2014  72153.0       0.0        NaN  ...                             NaN   NaN
2015  72153.0       0.0        NaN  ...                             NaN   NaN
2016  72153.0       0.0        NaN  ...                             NaN   NaN
2017  72153.0       0.0        NaN  ...                             0.0  27.9
2018  72153.0       0.0        NaN  ...                             0.0  24.0
2019  72153.0       0.0        NaN  ...                             0.0  24.0
2020  72153.0    3215.0  30.296423  ...                             0.0  23.9
2021  56045.0    3193.0  30.259004  ...                             NaN   NaN
2022  56045.0    3193.0  30.259004  ...                             NaN   NaN

     ratePer100000_55+_HIV prevalence                                       \
                                count        mean         std  min     25%
year
2000                              0.0         NaN         NaN  NaN     NaN
2001                              0.0         NaN         NaN  NaN     NaN
2002                              0.0         NaN         NaN  NaN     NaN
2003                              0.0         NaN         NaN  NaN     NaN
2004                              0.0         NaN         NaN  NaN     NaN
2005                              0.0         NaN         NaN  NaN     NaN
2006                              0.0         NaN         NaN  NaN     NaN
2007                              0.0         NaN         NaN  NaN     NaN
2008                              0.0         NaN         NaN  NaN     NaN
2009                              0.0         NaN         NaN  NaN     NaN
2010                              0.0         NaN         NaN  NaN     NaN
2011                              0.0         NaN         NaN  NaN     NaN
2012                              0.0         NaN         NaN  NaN     NaN
2013                              0.0         NaN         NaN  NaN     NaN
2014                              0.0         NaN         NaN  NaN     NaN
2015                              0.0         NaN         NaN  NaN     NaN
2016                              0.0         NaN         NaN  NaN     NaN
2017                           1347.0  208.620193  269.606928  0.0  74.800
2018                           1392.0  220.510632  280.196144  0.0  75.675
2019                           1392.0  231.162931  292.424330  0.0  82.200
2020                           1387.0  242.009950  295.935214  0.0  88.050
2021                              0.0         NaN         NaN  NaN     NaN
2022                              0.0         NaN         NaN  NaN     NaN


        50%      75%     max
year
2000    NaN      NaN     NaN
2001    NaN      NaN     NaN
2002    NaN      NaN     NaN
2003    NaN      NaN     NaN
2004    NaN      NaN     NaN
2005    NaN      NaN     NaN
2006    NaN      NaN     NaN
2007    NaN      NaN     NaN
2008    NaN      NaN     NaN
2009    NaN      NaN     NaN
2010    NaN      NaN     NaN
2011    NaN      NaN     NaN
2012    NaN      NaN     NaN
2013    NaN      NaN     NaN
2014    NaN      NaN     NaN
2015    NaN      NaN     NaN
2016    NaN      NaN     NaN
2017  141.8  255.850  3301.0
2018  148.8  272.950  3447.3
2019  156.6  284.925  3616.7
2020  162.0  309.150  3672.2
2021    NaN      NaN     NaN
2022    NaN      NaN     NaN

[23 rows x 4224 columns]

In [42]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['year','fips'],
                                            how='outer'), total)
df_merged.to_csv('../Data/merged_data.csv')

C:\Users\FPSKIN~1\AppData\Local\Temp/ipykernel_2992/2319982536.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'id_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['year','fips'],
C:\Users\FPSKIN~1\AppData\Local\Temp/ipykernel_2992/2319982536.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_age_x', 'pct_sex_age_45_to_54_x', 'pct_sex_age_65_to_74_x', 'pct_ethnicity_hispanic_x', 'pct_sex_age_35_to_44_x', 'pct_sex_age_20_to_24_x', 'pct_sex_age_65+_female_x', 'pct_sex_age_25_to_34_x', 'pct_sex_age_10_to_14_x', 'id_x', 'pct_one_or_more_race_asian_x', 'pct_sex_age_15_to_19_x', 'pct_sex_age_65+_male_x', 'pct_one_or_more_race_native_american_x', 'pct_one_or_more_race_x', 'pct_sex_age_75_to_84_x', 'pct_sex_age_18+_male_x', 'pct_sex_age_under_5_x', 'pct_sex_age_85+_x', 'total_pop_x', 'pct_one_or_more_race_other_race_x', 'pct_sex_age_60_to_64_x', 'pct_sex_age_65+_x', 'Geographic Area Name_x', 'pct_sex_age_21+_x', 'pct_sex_age_62+_x', 'pct_one_or_more_race_white_x', 'pct_sex_age_55_to_59_x', 'pct_one_or_more_race_native_hawaiian_pacific_islander_x', 'pct_sex_age_18+_x', 'pct_one_or_more_race_black_x', 'pct_sex_age_5_to_9_x', 'pct_sex_age_18+_female_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['year','fips'],
C:\Users\FPSKIN~1\AppData\Local\Temp/ipykernel_2992/2319982536.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'pct_sex_age_16+_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['year','fips'],
C:\Users\FPSKIN~1\AppData\Local\Temp/ipykernel_2992/2319982536.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'geography_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['year','fips'],