In [72]:
import numpy as np
import pandas as pd
import os

In [73]:
df1 = pd.read_csv('../Data/Intermediate/COVIDcounts_county_processed.csv', index_col = 0)
print(df1.shape)
df1.head()

(3193, 895)

,fips,county_name,state,statefips,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-06-21,2022-06-22,2022-06-23,2022-06-24,2022-06-25,2022-06-26,2022-06-27,2022-06-28,2022-06-29,2022-06-30
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,16313,16330,16360,16400,16400,16400,16468,16496,16520,16536
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,58009,58169,58293,58372,58372,58372,58595,58695,58796,58905
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,5813,5818,5825,5832,5832,5832,5857,5863,5880,5891
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,6630,6648,6654,6663,6663,6663,6679,6687,6700,6704

In [74]:
labs20, labs21, labs22= [], [], []

for column in df1.columns[4:]:
    if column.startswith('2020'):
        labs20.append(column)
    if column.startswith('2021'):
        labs21.append(column)
    if column.startswith('2022'):
        labs22.append(column)

In [75]:
df1 = pd.DataFrame(np.repeat(df1.values, 3, axis = 0), columns = df1.columns)
df1.head()

,fips,county_name,state,statefips,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-06-21,2022-06-22,2022-06-23,2022-06-24,2022-06-25,2022-06-26,2022-06-27,2022-06-28,2022-06-29,2022-06-30
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1001,Autauga County,AL,1,0,0,0,0,0,0,...,16313,16330,16360,16400,16400,16400,16468,16496,16520,16536
4,1001,Autauga County,AL,1,0,0,0,0,0,0,...,16313,16330,16360,16400,16400,16400,16468,16496,16520,16536

In [76]:
df1['year'] = None
for index in df1.index:
    if index % 3 == 0:
        df1.iloc[index, -1] = 2020
    elif index % 3 == 1:
        df1.iloc[index, -1] = 2021
    else:
        df1.iloc[index, -1] = 2022
df1.head()

,fips,county_name,state,statefips,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-06-22,2022-06-23,2022-06-24,2022-06-25,2022-06-26,2022-06-27,2022-06-28,2022-06-29,2022-06-30,year
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2022
3,1001,Autauga County,AL,1,0,0,0,0,0,0,...,16330,16360,16400,16400,16400,16468,16496,16520,16536,2020
4,1001,Autauga County,AL,1,0,0,0,0,0,0,...,16330,16360,16400,16400,16400,16468,16496,16520,16536,2021

In [77]:
df1['cases'] = None
for index in df1.index:
    if index % 3 == 0:
        df1.iloc[index, -1] = df1.loc[index,labs20].sum(axis = 0)
    elif index % 3 == 1:
        df1.iloc[index, -1] = df1.loc[index,labs21].sum(axis = 0)
    else:
        df1.iloc[index, -1] = df1.loc[index,labs22].sum(axis = 0)

In [78]:
df = df1[['year', 'fips', 'county_name', 'state', 'statefips', 'cases']]
print(df.dtypes)
df[['year','fips','statefips','cases']] = df[['year','fips','statefips','cases']].apply(pd.to_numeric)
print(df.dtypes)
df

year           object
fips           object
county_name    object
state          object
statefips      object
cases          object
dtype: object
year            int64
fips            int64
county_name    object
state          object
statefips       int64
cases           int64
dtype: object

C:\Users\FPSKINSMANC\Anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

      year   fips            county_name state  statefips    cases
0     2020      0  Statewide Unallocated    AL          1     1074
1     2021      0  Statewide Unallocated    AL          1        0
2     2022      0  Statewide Unallocated    AL          1        0
3     2020   1001        Autauga County     AL          1   370468
4     2021   1001        Autauga County     AL          1  2870305
...    ...    ...                    ...   ...        ...      ...
9574  2021  56043       Washakie County     WY         56   416090
9575  2022  56043       Washakie County     WY         56   414036
9576  2020  56045         Weston County     WY         56    27235
9577  2021  56045         Weston County     WY         56   285783
9578  2022  56045         Weston County     WY         56   277185

[9579 rows x 6 columns]

In [79]:
df.to_csv('../Data/Clean/COVIDcounty_cases_clean.csv')