In [7]:
import numpy as np
import pandas as pd
import os

In [8]:
df1 = pd.read_csv('../Data/clean/COVIDcounts_county_clean.csv', index_col = 0)
df1.head()

,fips,county_name,state,statefips,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2022-06-21,2022-06-22,2022-06-23,2022-06-24,2022-06-25,2022-06-26,2022-06-27,2022-06-28,2022-06-29,2022-06-30
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,16313,16330,16360,16400,16400,16400,16468,16496,16520,16536
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,58009,58169,58293,58372,58372,58372,58595,58695,58796,58905
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,5813,5818,5825,5832,5832,5832,5857,5863,5880,5891
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,6630,6648,6654,6663,6663,6663,6679,6687,6700,6704

In [ ]:
labs20, labs21, labs22= [], [], []
for column in df1.columns[4:]:
    if column.startswith('2020'):
        labs20.append(column)
    if column.startswith('2021'):
        labs21.append(column)
    if column.startswith('2022'):
        labs22.append(column)

In [16]:
for index, column in enumerate(df1):
    df1[index,'year'] = df1[labs20].sum(axis = 1)
    
df1.head()

,fips,county_name,state,statefips,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,"(1780, year)","(1781, year)","(1782, year)","(1783, year)","(1784, year)","(1785, year)","(1786, year)","(1787, year)","(1788, year)","(1789, year)"
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,1074,1074,1074,1074,1074,1074,1074,1074,1074,1074
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,370468,370468,370468,370468,370468,370468,370468,370468,370468,370468
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,1126681,1126681,1126681,1126681,1126681,1126681,1126681,1126681,1126681,1126681
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,174790,174790,174790,174790,174790,174790,174790,174790,174790,174790
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,148098,148098,148098,148098,148098,148098,148098,148098,148098,148098