In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_pop = pd.read_csv("../Data/Intermediate/ACSDP05_merge.csv")

/var/folders/m9/xn_kvh7s6191dgzxbr9l38x00000gn/T/ipykernel_68545/2360043603.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data_pop = pd.read_csv("../Data/Intermediate/ACSDP05_merge.csv")

In [11]:
data_covid = pd.read_csv("../Data/Clean/USAFacts/COVIDcounts_county_clean_2.csv")

In [5]:
data_pop.head()

,Unnamed: 0,pct_sex_age_male,pct_sex_age_female,pct_sex_age_85+,median_age,pct_sex_age_18+,pct_sex_age_21+,pct_sex_age_62+,pct_sex_age_65+,pct_one_or_more_race,...,pct_sex_age_18+_female,pct_sex_age_65+_male,pct_sex_age_65+_female,pct_one_or_more_race_white,pct_one_or_more_race_black,pct_one_or_more_race_native_american,pct_one_or_more_race_asian,pct_one_or_more_race_native_hawaiian_pacific_islander,pct_one_or_more_race_other_race,pct_sex_age_16+
0,0,48.5,51.5,1.1,36.2,72.3,67.9,14.3,11.4,53155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,48.9,51.1,1.6,41.0,76.7,73.3,20.1,16.5,175791,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,52.9,47.1,1.8,38.0,77.5,73.7,16.7,13.7,27699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,53.8,46.2,0.7,38.3,76.6,72.5,15.7,12.4,22610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49.5,50.5,1.2,38.3,75.2,71.3,18.1,14.2,56692,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data_covid.head()

,Unnamed: 0,fips,county_name,state,statefips,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,6/22/22,6/23/22,6/24/22,6/25/22,6/26/22,6/27/22,6/28/22,6/29/22,6/30/22,sum of 2020
0,1,1001,Autauga County,AL,1,0,0,0,0,0,...,16330,16360,16400,16400,16400,16468,16496,16520,16536,370468
1,2,1003,Baldwin County,AL,1,0,0,0,0,0,...,58169,58293,58372,58372,58372,58595,58695,58796,58905,1126681
2,3,1005,Barbour County,AL,1,0,0,0,0,0,...,5818,5825,5832,5832,5832,5857,5863,5880,5891,174790
3,4,1007,Bibb County,AL,1,0,0,0,0,0,...,6648,6654,6663,6663,6663,6679,6687,6700,6704,148098
4,5,1009,Blount County,AL,1,0,0,0,0,0,...,15249,15272,15283,15283,15283,15324,15335,15351,15370,349200

In [ ]:
plt.figure(figsize = (15,8))
g = sns.scatterplot(x = df_ref['rate per 100000'][2019],y = df_ref['rate per 100000'][2020],size = df_ref.total_pop[2019],sizes=(10, 1000),alpha=0.5)
xpoints = ypoints = plt.xlim()
plt.plot(xpoints, ypoints, linestyle='--', color='k', lw=3, scalex=False, scaley=False)
# sns.lineplot(x = [1,2],y =[1,2])
plt.title("Chlamydia")
plt.savefig("../Output/EDA/Chlamydia_scatterplot.png",dpi = 300)
# plt.axhline(y=0,c="black")
plt.show()